[2016-05-13 10:03] mph070770 opened #1 ""Alexa style" continuous speech instruction"
Hi - great software!

I have your demo working with Ubuntu. What I'd like to do is detect the keyword in continuous speech in a similar way to the Amazon echo. Is that possible? For example, this:

"Alexa, turn on the lights"

instead of

"Alexa" [ding] "turn on the lights"

Ideally, I'd also want to know where in the audio the keyword was spoken so that it can be removed from audio before I send

[2016-05-13 17:01] xuchen commented on #1
The [ding] sound is actually a callback function you can define yourself. Here's an idea:

1. keep an audio buffer and a global variable `is_triggered = False`
2. when triggered, set `is_triggered = True` in your callback
3. send any audio *after* this point in your buffer to AVS for speech recognition.

Does it make sense?

[2016-05-14 03:56] chenguoguo commented on #1
What Xuchen said was correct. You may have to play with the audio buffer a
little bit, to make sure you send all the audio after hotword detection to
the ASR.

Guoguo

On Sat, May 14, 2016 at 1:01 AM, xuchen <notifications@github.com> wrote:

[2016-05-15 08:18] chenguoguo commented on #1
Looks like it has been resolved, so closing this.

[2016-05-15 10:55] mph070770 commented on #1
Thanks for the feedback. Are you suggesting a new audio buffer or utilising the ring buffer?

[2016-05-15 22:17] flooie opened #2 "Make issue"
make: python-config: Command not found
make: python-config: Command not found
g++  -I../../ -O3 -fPIC -std=c++0x -c snowboy-detect-swig.cc
snowboy-detect-swig.cc:154:21: fatal error: Python.h: No such file or directory
 # include <Python.h>
                     ^
compilation terminated.
Makefile:45: recipe for target 'snowboy-detect-swig.o' failed
make: *** [snowboy-detect-swig.o] Error 1

Any hel

[2016-05-16 00:27] chenguoguo commented on #2
Looks like you do not have the command python-config. I use that command to locate the python dependencies. Try to install python-devel (perhaps it doesn't exist in old python versions?). Of course if you know where is your python dependency, you can modify the makefile directly.

Example for PYINC on my macbook:
-I/System/Library/Frameworks/Python.framework/Versions/2.7/include/python2.7 -I/Syste

[2016-05-16 00:56] chenguoguo commented on #1
Re-opening this since there's on-going discussion... Let me write in more details.

1. In order to remove the [ding] sound, you only have to modify the callback function as Xuchen said. You do not need another buffer. If your ASR server does online decoding, then you can start transmitting your audio data to the server right after the triggering of the hotword.

2. You may need another buffer if:

[2016-05-16 02:28] flooie commented on #2
working with a raspberry pi - for the alexa echo - can't seem to find the right install

[2016-05-16 07:11] sammachin opened #3 "Silence Detection"
Awesome project guys, I'm the author of the orignal RaspberryPi Alexa project :)

I'm looking at integrating your code into AlexaPi, one thing I need to work out is silence detection, have you got any tips?

The flow would need to go WakeWord>Record Command>DETECT END OF COMMAND>Post to Alexa Voice Service.

[2016-05-16 07:46] Timmmm commented on #3
They keyword to search for is VAD (Voice Activity Detection). There are quite a lot of them available, often codecs contain them (e.g. Opus has one).

Here are a couple I found by Googling "github VAD":

https://github.com/mwv/vad

https://github.com/shriphani/Listener/blob/master/VAD.py

[2016-05-16 13:12] flooie commented on #2
So - one step closer - but

g++ -I../../ -O3 -fPIC -std=c++0x  -shared snowboy-detect-swig.o \
../..//lib/ubuntu64/libsnowboy-detect.a -L/usr/lib/python2.7/config-arm-linux-gnueabihf -L/usr/lib -lpython2.7 -lpthread -ldl  -lutil -lm  -Xlinker -export-dynamic -Wl,-O1 -Wl,-Bsymbolic-functions -lm -ldl -lf77blas -lcblas -llapack_atlas -latlas -o _snowboydetect.so
../..//lib/ubuntu64/libsnowboy-detect

[2016-05-16 13:58] #2 closed

[2016-05-16 16:35] chenguoguo commented on #2
I see you have closed the issue. Did you solve the problem? If yes could you post the problem and the solution as it can be helpful to others. Thanks!

If not, what was your OS?

[2016-05-16 16:42] chenguoguo commented on #3
Great work on the RaspberryPi Alexa project @sammachin !

Yes one way is to try the third party VAD tools as @Timmmm mentioned.

However, Snowboy does have internal VAD. I just updated the internal code so that the RunDetection() function will return -2 if silence is detected. We will update the library in this repository asap. You may have to smooth the VAD output a little bit, e.g., call it the

[2016-05-16 17:03] flooie commented on #2
Jessie - Also I just got it working with AlexaPi and its awesome - ill post my code soon over there.

[2016-05-16 17:04] flooie commented on #2
I had the hardest time modifying some config files that changed between wheezy and jessie

[2016-05-16 17:05] chenguoguo commented on #2
Great!

[2016-05-16 17:37] xuchen commented on #2
The reason of this error is that we didn't provide a RPi library. We are working on it. Meanwhile, one can use a pre-compiled version:

https://s3-us-west-2.amazonaws.com/snowboy/snowboy-releases/rpi-arm-raspbian-8.0-1.0.0.tar.bz2

I'll let know when we have the RPi version ready.

[2016-05-16 22:34] xuchen commented on #3
I updated the entire codebase with new VAD support and compiled binaries (v1.0.1). Now the return value of ``SnowboyDetect.RunDetection()`` (see `snowboydecoder.py` for detailed usage) function indicates silence, voice, error, and triggered words:

| return | meaning         |
|--------|-----------------|
| -2     | silence         |
| -1     | error           |
| 0      | voice           |
| 1,..

[2016-05-16 22:34] #3 closed

[2016-05-16 23:03] xuchen commented on #2
Master branch is updated with added RPi library support if you want to compile your own. A binary version is also added:

https://s3-us-west-2.amazonaws.com/snowboy/snowboy-releases/rpi-arm-raspbian-8.0-1.0.0.tar.bz2

[2016-05-17 01:45] GemBro commented on #3
Yes yes ... glad you guys are now talking together on this ...

[2016-05-18 10:32] chenguoguo commented on #1
Closing this as it has been integrated into AlexaPI. See:

https://youtu.be/wLbsAQDmN-c

https://github.com/sammachin/AlexaPi/pull/85

[2016-05-21 20:45] amir-s opened #4 "suggestion: NodeJS module"
Hello and thanks for the awesome job.

I was trying to create an NPM module for snowboy, but I kind of lost.
So, it might be easier to work together. If anyone could write simple C++ file to use snowboy, I can help with wrapping it as a javascript module and putting it in npm.

Or if anyone wants to go all the way, here are the directions to create c++ addons: https://nodejs.org/api/addons.html

T

[2016-05-22 14:00] chenguoguo commented on #4
I think it will be a good idea if we create examples of using Snowboy for different programing languages. I'll add some C++ examples first.

[2016-05-23 01:05] kunal732 opened #5 "Incorporate this library into an OSX app with xcode"
Would love to incorporate this in a project im working on https://github.com/kunal732/MacLexa. Would it be possible to incorporate this into a swift mac app ?

[2016-05-23 04:04] chenguoguo commented on #5
Hi,

We provide C++ libraries for Snowboy, so it's definitely possible to use Snowboy in swift. You can search for instructions of how to use C++ libraries in swift. For example, this page http://www.swiftprogrammer.info/swift_call_cpp.html. Basically you will have to write some simple wrappers for the C++ library.

Typically we use swig to generate wrappers for different programing languages. But

[2016-05-23 18:06] chenguoguo commented on #4
@amir-s I added some C++ examples. Most part of the code relates to PortAudio which you can probably skip. See the pull request here: https://github.com/Kitt-AI/snowboy/pull/6. I haven't tested this on a linux machine as I don't have one by hand right now.

Let me know if this is enough for you to create the NodeJS module.

[2016-05-23 18:55] xuchen commented on #5
@kunal732 C++ example added: https://github.com/Kitt-AI/snowboy/pull/7

Do you need extra help from here with the swift interface?

[2016-05-23 22:39] sciencedude100 opened #8 "RPi "Invalid Sample Rate""
I am working on getting snowboy to invoke a python script to activate the listening on Amazon's [Alexa For Raspberry Pi](https://github.com/amzn/alexa-avs-raspberry-pi). I am stuck at this error: [Error Given](http://pastebin.com/tG8ASReN)

[2016-05-23 22:45] xuchen commented on #8
Did you follow the RPi setup here:

https://snowboy.kitt.ai/docs/#running-on-raspberry-pi

It looks like an ALSA config problem. If you run `rec t.wav`, do you get an error?

[2016-05-24 00:11] sciencedude100 commented on #8
the recording went fine. when played back, I could hear everything I said. could it be the download source (from the site's tutorial)? I cloned the git repo and so far, so good

[2016-05-24 00:24] sciencedude100 commented on #8
Well! Just be sure to compile from the github source, not the package from the kitt.ai tutorial.

[2016-05-24 00:24] #8 closed

[2016-05-24 00:33] xuchen commented on #8
Ah! The tutorial docs is a bit outdated: it points to an old download link:

https://s3-us-west-2.amazonaws.com/snowboy/snowboy-releases/rpi-arm-raspbian-8.0-1.0.0.tar.bz2

But we've upgraded to 1.0.1:

https://s3-us-west-2.amazonaws.com/snowboy/snowboy-releases/rpi-arm-raspbian-8.0-1.0.1.tar.bz2

So maybe that was the problem...

[2016-05-24 01:26] sciencedude100 opened #9 "Once again, Audio issue"
so, if I try to use a pmdl, I get [This](http://pastebin.com/5Qkj5tsK) error.  I tried running python with sudo and as a normal user.

[2016-05-24 03:03] chenguoguo commented on #9
@flooie may have good insights. @flooie could you help us here?

It looks like a driver problem or setup problem to me. Also, when I played with Raspberry Pi I also had to add my user (if you are not using the root user) to the audio group to make PyAudio work.

What is the output of "arecord -l" on your Pi? And what is your ~/.asound file?

[2016-05-24 03:07] flooie commented on #9
Geez.  Idk.

I can tell you that

pi@raspberrypi:~/Desktop/snow/rpi $ ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.rear
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.center_lfe
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.side
ALSA lib pcm.c:2239:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.hdmi
ALSA lib pcm.c:2239:(snd_pcm_open_noupda

[2016-05-24 03:11] flooie commented on #9
@chenguoguo @sciencedude100 is this for the alexa pi?

[2016-05-24 03:16] chenguoguo commented on #9
@flooie, this is for Amazon's version I think. @sciencedude100 mentioned it here: https://github.com/Kitt-AI/snowboy/issues/8

BTW @sciencedude100, @flooie has made it work for AlexaPi https://github.com/sammachin/AlexaPi/pull/85

[2016-05-24 05:09] xuchen commented on #9
It looks like an audio playback problem, @sciencedude100 what's your `aplay -l` output? It could be that you have audio playback on the HDMI port.

The error came from trying to play the "ding" sound on triggered sound. Alternatively, I saw you defined `detected_callback`, so if you pass `stream_callback=detected_callback`, you should get a printed alert instead of audio alert. But it will work.

[2016-05-24 09:48] sciencedude100 commented on #9
Ok, turns out my mic wasn't plugged in all the way... DERP!
Now I have a whole new error to deal with [here](http://pastebin.com/7qxG44kk)
I get the same error when trying my pmdl (which I have calibrated to my mic and the keyword "Hal")
[Here's](http://pastebin.com/ADSvVFpb) my ~/.asoundrc file
I have a working python script that initiates Alexa's listening, I just want snowboy to run it when it

[2016-05-24 12:03] chenguoguo commented on #9
I actually saw this post on stack overflow, and I was like: oh, no way that dude was working without a mic... :-)
http://stackoverflow.com/questions/33382305/pyaudio-ioerror-errno-invalid-input-device-no-default-output-device-9996

One comment, please use snowboy.umdl under the devel branch. The snowboy.umdl model under the master was problematic and we haven't merged the fix. Regarding the person

[2016-05-24 15:57] chenguoguo commented on #4
@amir-s any progress on the NodeJS module? Do you need additional explanations regarding the C++ example? Happy to explain more.

[2016-05-24 23:40] sciencedude100 commented on #9
found a python script to find the IDs [Here](https://gist.github.com/mansam/9332445) with a result of [this](http://pastebin.com/J42jhHCJ)
[Here](http://pastebin.com/T6xuah0G) is my snowboydecoder.py (i fixed the semicolon on line 110)
Well, [Here](http://pastebin.com/3Dhcx6Cn) is the current result, still -9997

[2016-05-24 23:43] sciencedude100 commented on #9
I think it might be my alsa config, I even tried to reset it with `sudo alsactl restore -P`

[2016-05-25 00:25] amir-s commented on #4
@chenguoguo Perfect. Yes, I'm working on it, but I'm quite slow ...
The thing is Node environment uses `gyp` as build system ... So, we need to define the build process using gyp with `bindings.gyp` file.

The rest is just some modification to the C++ example you provided.

[Here](https://n8.io/converting-a-c-library-to-gyp/) is an article about gyp. It is much easier to deal with different operat

[2016-05-26 03:23] chenguoguo commented on #9
@sciencedude100 It might be disappointing, but mostly likely the problem can be solved by starting from a fresh Raspbian installation... See the post [here](https://github.com/sammachin/AlexaPi/issues/82). Please let us know if that helps.

[2016-05-28 21:00] sciencedude100 commented on #9
I'll set up snowboy before Alexa

[2016-05-29 02:50] #9 closed

[2016-05-31 22:55] kgorszczyk opened #12 "Call start() again after terminate()"
Hi,

im trying to add snowboy to a personal assistant app i've been working on but to be able to record the audio i first need to terminate all recording streams from snowboy otherwise i get an Audio Deivce Busy Error.

After accessing detector.terminate() I can finally record my command and the python file processes it correctly. My only problem is, that while the prog loops detector.start(...) d

[2016-06-01 14:14] Jeepster60 opened #13 "PS3 eye unplug/plug"
Hi guys, great work!
have big Interest in snowboy and I've got it working on a Raspi with PS3 eye.
Problem is: after each reboot, ps3 eye isn't working. lsusb shows it, but no rec possible until I unplug and plug the Cam.
After days of testing and searching I'm now hoping for a little hint for configuring the cam correct.
uname -r shows 4.4.11+
OS is a raspian jessie 2016-05-10 with dist-upgrade

[2016-06-01 15:30] xuchen commented on #13
I experienced exactly the opposite issue and I think it's a driver problem. Sometimes after we plug in the PS3 eye, we have to reboot to have it recognized. The only way out I'd say is use a different camera?

[2016-06-01 20:04] xuchen commented on #12
Yes that should be easy, just move the last two lines in `HotwordDetector.__init__()` of `snowboydecoder.py`:

        self.audio = pyaudio.PyAudio()
        self.stream_in = self.audio.open(
            input=True, output=False,
            format=self.audio.get_format_from_width(
                self.detector.BitsPerSample() / 8),
            channels=self.detector.NumChannels(),
            rat

[2016-06-01 21:33] kgorszczyk commented on #12
Thanks it worked perfectly! I'm currently running it on a Raspberry Pi and for quite some time i get these errors after running the HotWord detection:

`ALSA lib pcm_dmix.c:1022:(snd_pcm_dmix_open) unable to open slave
ALSA lib pcm_dmix.c:1022:(snd_pcm_dmix_open) unable to open slave
ALSA lib pcm_dmix.c:1022:(snd_pcm_dmix_open) unable to open slave
ALSA lib pcm_dmix.c:1022:(snd_pcm_dmix_open) unab

[2016-06-01 21:36] xuchen commented on #12
Does it work at all? Often we see similar messages but the code still works. Then in this case we ignore it. If you have specific error that stops the code from running, could you please paste it here?

[2016-06-01 22:02] kgorszczyk commented on #12
No the code still works even with those warning messages. 👍 Thanks.

[2016-06-01 22:23] #12 closed

[2016-06-02 02:40] evancohen commented on #4
Hey @amir-s, any progress on this? I'd be happy to take a look, but I'd like to avoid doing duplicate work.

[2016-06-02 09:19] Jeepster60 commented on #13
ok, an old MS Lifecam works. But the hotword hits are better with the ps3 eye at greater distances. Want to make Homeautomation and with the ps3 eye it reacts even in the next room.
Just now I would go on with the Lifecam. Later I would spend some time with the ps3 eye boot/unplug issue.

[2016-06-02 09:19] #13 closed

[2016-06-02 17:59] xuchen commented on #13
Good to know! Let us know if you find out. The PS3 Eye has 4 channels of audio and should pick up voice in the distance better.

[2016-06-03 19:41] flooie commented on #5
I'm interested in building into an obj-c app

[2016-06-04 02:31] chenguoguo commented on #5
@flooie, that should be very easy. You can use the library under lib/ios/libsnowboy-detect.a (yes that's a fat library) and follow the C++ examples. It's basically same as using C++ library in Obj-C

[2016-06-06 14:41] chenguoguo commented on #4
@amir-s Hey Amir, any progress on this? Shall we get help from @evancohen? It will be great if snowboy runs on node at some point :-)

[2016-06-07 05:24] nomadic-squirrel opened #14 "IOError: [Errno -9997] Invalid sample rate"
Hey guys!
   Great stuff! This is pretty much exactly what I was trying to build! But you guys are way further than I ever would have gotten. Er, but I didn't get very far.

I'm running this on a raspberry pi model B with a Cyber Acoustics USB microphone. I can successfully record something using `AUDIODEV=hw:1,0 rec t.wav`.

Anyway, when attempting the demo with this command:
[code]
I get a bunch

[2016-06-07 14:59] chenguoguo commented on #14
Hi, regarding changing the sampling rate, Snowboy requires a specific sampling rate which you can see by calling the SampleRate() function. For now it's 16k. You can use different sampling rate for PyAudio, but when you feed the data to Snowboy detector, you will have to convert the data to 16k sampling rate.

As for the "Invalid sample rate" error, there's a long discussion in [this](https://gith

[2016-06-08 23:20] nomadic-squirrel opened #16 "Doc issue: .asoundrc, not .asound"
Hey guys,
   I was going through the set up again and found I needed to set the hw value to get `rec t.wav` to work. I pasted in the settings doc'd in the "Set up audio" here: https://snowboy.kitt.ai/docs, but that says to save the file as `.asound` not `.asoundrc` which did work.

[2016-06-08 23:47] nomadic-squirrel opened #17 "make: python-config: Command not found"
Hello again,
   After git clone of snowboy, I did:
[code]
And got these errors:
[code]

I was able to get around this by running
[code]

Question though.... I see the set up section uses swig3.0. But when I ran make, it couldn't find swig until I installed just `swig`. Is there an issue with installing these `3` version of things? I see it also in the `python3-pyaudio`.

[2016-06-08 23:57] chenguoguo commented on #17
Yes, you'll have to install python-dev to get the Makefile work. Regarding swig, I normally don't do apt-get install swig, as I experienced issues (the detection doesn't work properly) with swig installed from apt-get install. I usually install it from source code, using the following commands:

`# SWIG is a tool to compile c++ code into Python.

echo "Installing SWIG"

if [ ! -e swig-3.0.7.tar.gz

[2016-06-08 23:59] nomadic-squirrel commented on #14
Ok, thanks for the update. For now I started new with a fresh image of Raspbian jesse. If I run into this issue there, I'll dig further. I was doing a lot with installing libraries and messing with the microphone, so maybe something got whacky in that.

[2016-06-08 23:59] #14 closed

[2016-06-09 00:01] chenguoguo commented on #16
Thanks for the catch. We have updated our documentation which should be available int he next deployment.

[2016-06-09 00:01] #16 closed

[2016-06-09 00:02] nomadic-squirrel opened #18 "TypeError: __init__() got an unexpected keyword argument 'model_str'"
After successfully building from source, I'm running the demo, but ran into this error:

[code]

Lines 90s in `snowboydecoder.py`:
[code]

But looking at snowboydetect.py, the constructor takes a pointer, so I'm not sure what it is complaining about. My python skills aren't great.
[code]

[2016-06-09 00:03] #17 closed

[2016-06-09 00:11] chenguoguo commented on #18
Could you try the swig installation commands I pasted [here](https://github.com/Kitt-AI/snowboy/issues/17)? I suspect it's an issue with swig.

[2016-06-09 06:35] nomadic-squirrel commented on #17
Woohoo!! It works!
Yea, I removed swig and ran your script, but I did a global install, so I removed the `--prefix=${pwd}` (How does one escape markdown?? lol) and then changed `make install` to `sudo make install`. This raspberry will be dedicated to using this snowboy so I think that should be ok.

[2016-06-09 12:29] chenguoguo commented on #18
Closing this since the issue was resolved through https://github.com/Kitt-AI/snowboy/issues/17

[2016-06-09 12:29] #18 closed

[2016-06-10 01:18] nomadic-squirrel opened #19 "Support for other people?"
So, the FAQ on this page:

Has this statement:
[code]

Which indicates to me that if I train my pmdl, then my girlfriend won't be able to initiate. I suppose I could pass multiple pmdl files to the `snowboydecoder.HotwordDetector` and use the same callback for each pmdl. But ideally, I'd be able to have each person generate a pmdl then pass that to the script.

But then, if I have guests over, and

[2016-06-10 02:00] chenguoguo commented on #19
If you take a look at the example demo2.py, that shows how you can provide two hotword models, and you can follow the same procedure to provide more models. That will increase the computation though.

Regarding using a different term from "snowboy", yes you can provide whatever you want. Your friend and you don't have to use the same word/phrase.

Regarding the universal model, normally we control

[2016-06-10 13:33] flooie commented on #5
@chenguoguo I've taken a couple cracks at it - to no avail.  Totally on my end.  Any chance you have a good resource you can point me to online?

[2016-06-10 13:33] flooie commented on #5
@chenguoguo I also showed off snowboy to a cocoa heads boston last night.

[2016-06-10 14:44] xuchen commented on #5
That's interesting. Did it work well in meetings? With Siri coming to the
Mac, it's more interesting we give people another choice in both trigger
word and the service behind it (AVS)
On Jun 10, 2016 6:33 AM, "flooie" <notifications@github.com> wrote:

[2016-06-10 16:06] chenguoguo commented on #5
@flooie I felt it might be easier to give you an example, so I created this [repo](https://github.com/chenguoguo/aurioTouch). I basically took Apple's aurioTouch sample code and modified it to have Snowboy hotword detection. You can compare the master branch and the snowboy branch to see what changes I have made to make it work. I mostly modified the file Classes/AudioController.mm. You should be

[2016-06-10 17:26] flooie commented on #5
@chenguoguo this was helpful and validates what I was doing but I've mirrored (almost ) the project settings and can't get beyond this.

I'm using the compiled library in the OS X folder of the download.... any thoughts?

Undefined symbols for architecture x86_64:
  "snowboy::SnowboyDetect::SnowboyDetect()", referenced from:
      -[AppDelegate applicationDidFinishLaunching:] in AppDelegate.o
ld:

[2016-06-10 17:37] flooie commented on #5
thanks btw- you've gone above and beyond for me

[2016-06-11 00:22] chenguoguo commented on #5
@flooie I think I've seen this yesterday. It was related to Xcode setting in my case. Initially I tried to add snowboy-detect.h and libsnowboy-detect.a through the 'Add Files to "auroiTouch"' option (which you can find through right click) and I think that error appeared. I then tried to create a directory called snowboy through the "New Group" option, and added snowboy-detect.h and libsnowboy-det

[2016-06-11 00:24] chenguoguo commented on #5
@flooie just saw this "I'm using the compiled library in the OS X folder of the download.... any thoughts?" Can you try to use the compiled library in the iOS folder? The library under the iOS folder is a fat library and contains library for x86_64 as well.

[2016-06-11 03:06] flooie commented on #5
@chenguoguo - I did check out the project and it does work on my computer.  so i modeled everything based on that but haven't been able to get the OS X version to work.

[2016-06-11 04:21] chenguoguo commented on #5
@flooie I suspect it's a configuration problem. Are you using Xcode to build your project? I tried to replace the iOS library with the OS X library in my example and it worked as well. So I think the library itself should be OK. Let us know if you get any progress on this.

[2016-06-11 04:27] chenguoguo commented on #4
Looks like @amir-s is busy with other stuff recently. @evancohen if you could help us create the wrapper and send a pull request to our repo, that will be great too! I'm quite excited about the NodeJS wrapper.

[2016-06-11 14:24] Andros987 opened #20 "C support ?"
Hi, I have take a look on your project, it s working perfectly, but I have some problem to use it in a C application.
Apparently the library is in C at the start but the header file is only for c++ project (in the include folder).

And I have some problem to convert it, have you a C example too ?

[2016-06-11 15:16] chenguoguo commented on #20
Hi, the library itself is written in C++. You can create a C wrapper for the class and use it in C programs though, it's pretty straightforward. You can, e.g., follow this post: https://www.teddy.ch/c++_library_in_c/

If you create such a wrapper, it will be great if you can submit a pull request for it to our devel branch. You can probably put it under examples/C/ directory.

[2016-06-11 19:10] flooie commented on #5
I am using Xcode and I thought I mirrored the settings pretty well - minus the iOS to OS X situation.  - I'm gonna take another crack at it right now.

[2016-06-11 19:54] flooie commented on #5
I think I have success-

[2016-06-12 05:26] chenguoguo commented on #5
Could you briefly let us know how you fix it?

[2016-06-12 06:45] chenguoguo commented on #19
Closing this as it looks like the issue has been resolved.

[2016-06-12 06:45] #19 closed

[2016-06-12 08:20] amir-s commented on #4
@chenguoguo @evancohen  Sorry guys, for some reasons i didn't get notified about this thread...
I'm very busy with at my work as the release deadlines are comming ... I'd be happy to help if anyone could lead this. I personally don't have much time for couple of weeks.

[2016-06-12 15:58] flooie commented on #5
I'll happily share my code when I get it finished .

Now Ive got everything working and I'm detecting and sending information - but I can't get beyond this

How fast should the loop be?

[2016-06-12 21:57] chenguoguo commented on #5
This info was not generated by the Snowboy library itself right? If you
feel there's too much of this kind of info, you can try to send the info
only when there's a status change.

Generally I would call the RunDetection() function every 0.01~0.1 second.
That's something you can play with. Higher frequency will lead to less
detection latency but also higher CPU usage. You can control this by using

[2016-06-12 23:26] flooie commented on #5
@chenguoguo mind if I share with you the project and you can take a gander?

[2016-06-13 10:46] chenguoguo commented on #5
@flooie sure i can have a look

[2016-06-13 13:11] flooie commented on #5
@chenguoguo [repo](https://github.com/flooie/SnowboySampleProject)

[2016-06-13 14:58] nomadic-squirrel commented on #19
I also found that you can recruit others to get a universal model through kitt.ai. Now I just have to find 500 friends :)

[2016-06-13 15:02] xuchen commented on #19
make sure you have a good variety across ages and gender so your model is
robust. ;-)

On Mon, Jun 13, 2016 at 7:58 AM, nomadic-squirrel <notifications@github.com>
wrote:

[2016-06-13 16:56] chenguoguo commented on #5
@flooie I cloned your repo and tried to build it with xcode, but I got the following error. What should I do to set up EZAudio properly? Or is it possible to set everything up in your repo?

    ld: warning: directory not found for option '-L/Users/guoguo/Library/Developer/Xcode/DerivedData/Objcplusplus-ckypuogsetkktxggcfdknkvgjalc/Build/Products/Debug/EZAudio'
    ld: warning: directory not found

[2016-06-13 17:09] flooie commented on #5
Use Objcplusplus.xcworkspace - not xcodeproj

[2016-06-14 05:02] evancohen commented on #4
No worries @amir-s, I can try to pick this up :) Were you able to make any progress with `bindings.gyp`? I took a look for a few min the other day and was having trouble getting it to include some of the dependencies (namely the Portaudio stuff). It's been a few years since I've dealt with any C++ makefiles ;)

@chenguoguo the trick, as I see it, is to get that bindings file to generate something

[2016-06-14 17:04] TmpName opened #21 "Strange issue with locale."
First, big thx for your lib ^^.

But I have a strange bug, I can't understand, compiled on raspberry.

if (setlocale(LC_ALL, "fr_FR") == NULL) setlocale(LC_ALL, "fr_FR.utf8");

Works fine but

snowboy::SnowboyDetect detector(resource_filename, model_filename);

Give

terminate called after throwing an instance of 'std::runtime_error'
  what():  ERROR (ConvertStringToFloat():snowboy-utils.cc:149) C

[2016-06-14 19:00] nomadic-squirrel commented on #4
:gets popcorn"
I'll be very interested in a Node module. I haven't touched C++ in a decade or so, so I'm not sure if I can be much help in development, but I'd be happy to test and provide feedback.

[2016-06-15 01:47] chenguoguo commented on #21
Hi, internally we use std::stof to converts strings to floats, and use string::find_first_of to split strings using certain delimiter. If you change the locale before initialization, that may cause problems.

[2016-06-15 15:10] illperipherals commented on #4
Is this the proper approach for the module?: https://nodejs.org/api/addons.html#addons_function_factory
I made it through the docs posted above the other day, but I haven't had much time to look further into it.

Thank you folks for the hard work.

[2016-06-15 16:19] TmpName commented on #21
Ok, thx, good to know ^^.

[2016-06-15 16:24] #21 closed

[2016-06-16 04:59] evancohen commented on #4
I've made some progress on this here: https://github.com/evancohen/snowboy/commit/56f59a03d2530f498c04a1f49707669bb5ff7e8f
I've yet to actually plug everything together, but I have a working node module that includes all the necessary dependencies and will run. Hopefully I can finish it up this weekend.

One major drawback that I found with using `gyp` is relative build paths... I had to copy all

[2016-06-16 08:53] robin-read opened #22 "Xubuntu 16.04 LTS linking error."
So I have Snowboy working nicely on Ubuntu 16.04 LTS, however when I try and run it on Xubtunu 16.04 via one of the demos, I get the error below. I haven't changed anything in your Make file, and installed Swig from source. Is the .a lib tied to 12.04 and 14.04?

`Traceback (most recent call last):
  File "test.py", line 1, in <module>
    import snowboydecoder
  File "/home/robin/projects/dyson_m

[2016-06-16 09:44] chenguoguo commented on #22
Did you see any error messages when you do make under swig/Python?

Also, normally can you use libraries compiled on Ubuntu systems on Xubuntu systems? I haven't used Xubuntu myself, but the Snowboy C++ library was compiled for Ubuntu. Could that be the issue?

[2016-06-16 10:19] robin-read commented on #22
No compile errors with SWIG, but swapping from g++ 5 to g++ 4.9 did the trick. Seems to be working now. :)

[2016-06-16 11:08] chenguoguo commented on #22
OK thanks a lot for the solution. We'll keep this in mind. We haven't played with g++5 yet :-)

[2016-06-16 11:08] #22 closed

[2016-06-23 13:30] Vjp33 opened #23 "Raspberry Pi Package"
Hey, i'm new to developing with python, and am having trouble installing package with provided binary. When i uncompress the Raspberry Pi binary provided on the site I don't see a setup.py to use to install the package. Am I just supposed to run the script through the folder? I usually just install packages through pip so please excuse me if this a very simple question.

[2016-06-23 14:12] chenguoguo commented on #23
Hi, you don't have to install the package, so yes you can run demo.py directly. But you will have to set up your audio and install PyAudio first. Please follow our instructions on our documentation page: https://snowboy.kitt.ai/docs

[2016-06-23 14:12] #23 closed

[2016-06-23 14:16] Vjp33 commented on #23
Ok, that makes sense. I was able to get the audio running by following the tutorial. Thanks again for the quick response, and also for the great project.

[2016-06-23 23:18] aazimh opened #24 "pthread_join issue"
Hi guys,

I had the snowboy demo working just fine for me but after tinkering around with things I've managed to break it somehow and can't figure out why. This is what I get when I run the demo script with a personal model:

`Expression 'paTimedOut' failed in 'src/os/unix/pa_unix_util.c', line: 387
Expression 'PaUnixThread_New( &stream->thread, &CallbackThreadFunc, stream, 1., stream->rtSched )'

[2016-06-24 00:19] chenguoguo commented on #24
This looks like a PortAudio/ALSA issue. I haven't seen this particular. What have you done? Will it help if you reinstall PortAudio and re-configure ALSA?

[2016-06-24 11:24] aazimh commented on #24
Okay, so I tried uninstalling PortAudio by running 'pip uninstall pyaudio' first and then 'apt-get purge python-pyaudio python3-pyaudio'. I then reinstalled in the opposite order but the 'pip install pyaudio' is throwing up another weird error:

`Installing collected packages: pyaudio
  Found existing installation: PyAudio 0.2.8
    DEPRECATION: Uninstalling a distutils installed project (pyaudio)

[2016-06-24 13:20] aazimh commented on #24
More updates! After a reboot, the demo now works with the universal model but using a personal model gives me the same error in the OP. Going to try training another model and use that now.

[2016-06-24 14:42] chenguoguo commented on #24
It's great that rebooting solves the issue. It's wired that it works for the universal model, but not the personal model. By "error in the OP" you mean the paTimeOut problem? This shouldn't really happen, because changing the models only affects the Snowboy internal code, not portaudio.

[2016-06-24 14:49] aazimh commented on #24
Yes, that error. It's hit and miss now, works with the universal model sometimes and not the personal one, and other times vice versa. Makes no sense to me either as to why it happens. When it does work though, I can see console output detecting my keyword, but I don't hear the 'ding' sound I'm supposed to - suggests that it is a portaudio configuration issue.

Do you know if there's a proper way

[2016-06-24 14:56] chenguoguo commented on #24
Hmm, this is quite confusing... I haven't seen this issue before.

I've used a USB webcam to capture the audio, and played back the "ding" sound through HDMI monitor. It worked for me, so I think the setup should be fine. I suspect it's some other configuration problems, maybe caused by uninstall pulseaudio? Sometimes when you do uninstall the OS uninstalls dependencies that it "thinks" is not nec

[2016-06-24 15:02] aazimh commented on #24
Yes, using a Pi. Unfortunately there is a lot of other stuff I've got on it so I'm trying to avoid a fresh install if possible because I don't want to setup all the other stuff again :)

You're right though, when I installed it the first time it worked fine recording through the webcam and playing the ding through HDMI. It must be the pulseaudio stuff that's gone wrong. Anyway, I'll keep Googling

[2016-06-25 13:51] JpEncausse commented on #4
Hi, I'm maker of SARAH (http://sarah.encausse.net) using NodeJS Server and Microsoft Speech Engine client. SARAH is powerd by 4500 geek looking for a RPi client for SARAH. So I made A NodeJS experimental version on top of SoX: https://github.com/JpEncausse/SARAH-Client-NodeJS

0. Start my NodeJS code
1. Start SoX
2. Process audio buffer locally with SnowBoy
3. If OK, forward audio buffer to MS Oxf

[2016-06-25 15:41] chenguoguo commented on #4
Regarding "send the audio buffer to SnowBoy through precompiled CLI ", this might be possible to modify the demo.cc file. Instead of capturing the audio with PortAudio, you modify the demo.cc file to load the data from stdin, and you can use some bash command like

    rec -t wav -r 16000 -b 16 -e signed-integer -c 1 - | demo

Regarding NodeJS, @evancohen might have something that you can play wit

[2016-06-26 16:55] aazimh commented on #24
Just an update, I ended up re-installing Raspbian and it works fine now :) thanks for the suggestion!

[2016-06-26 16:55] #24 closed

[2016-06-26 19:05] chenguoguo commented on #24
That seems to be the ultimate solution :-)
On Jun 26, 2016 9:55 AM, "aazimh" <notifications@github.com> wrote:

[2016-06-29 09:04] sammachin opened #25 "Logging"
Getting snowboy integrated into the AlexaPi project :)

However there seems to be quite verbose logging printing to stdout I get `INFO:snowboy:Silence` every 100ms or so.

How do I turn off/adjust the output?

[2016-06-29 15:14] chenguoguo commented on #25
Great!

That Silence info is not necessary and can be deleted. Could you point me to your integration? I can point out for you which line you can delete.

[2016-06-30 03:27] tomgie opened #26 "Windows Support"
Is there going to be Windows support anytime soon? Because it wont work with my RPi

[2016-06-30 04:34] chenguoguo commented on #26
We are quite short-handed at this point, so it's going to be a long term plan. We do would like to add support for Windows though.

[2016-06-30 04:34] #26 closed

[2016-06-30 12:40] sammachin commented on #25
I can't publish the AlexaPi Snowboy code yet as I'm waiting on Amazon legal, but this is the same test project I used as a starting point https://github.com/sammachin/wakeword_wouter

[2016-06-30 15:52] chenguoguo commented on #25
Looks like the project you pointed me to is a little bit out of date. But anyway what you have to change in your new project is the file `snowboydecoder.py`, see the code

   if ans == -1:
       logger.warning("Error initializing streams or reading audio data")
   elif ans > 0:
       message = "Keyword " + str(ans) + " detected at time: "
       message += time.strftime("%Y-%m-%d %H:%M:%S",

[2016-07-01 04:42] reallybigpictures opened #27 "Create iOS Demo"
Hi!  This is great and I have a raspberry Pi 3 and this is way cool. However I would like to write a demo with iOS for you and then do a pull request. However getting it working is another story... I have the libsnowboy-detect.a library installed into my xCode project but I am getting an error in my header import which I have coded like so:
# import <libsnowboy-detect/snowboy-detect.h>

"File not

[2016-07-01 04:56] chenguoguo commented on #27
That will be great!

You can probably take a look at this proof of concept: https://github.com/chenguoguo/aurioTouch/tree/snowboy

I didn't do any kind of optimizing though, including the audio capturing.

[2016-07-01 04:59] reallybigpictures commented on #27
I solved that problem by doing this:
#import "snowboy-detect.hpp"

which contains: include/snowboy-detect.h

[2016-07-01 05:36] nomadic-squirrel commented on #4
@evancohen, not sure how far you got, but I got curious.
I did a clone of your repo into a clean directory. I then did
[code]
And it complained about `nan` missing. So I installed it with `npm install nan`. Then I re-ran the `npm install` command and it complained about a missing file:

[code]

Version info:
[code]

I didn't see an issues item on your repo, so I'm posting this here, let me know if

[2016-07-01 06:23] evancohen commented on #4
Hey @nomadic-squirrel you have to run the `install_portaudio.sh` script to install necessary dependencies. Note that I have only built this on OSX so far, not sure how it will act on any other platforms.

Sorry for taking so long on this, I've been extra slammed with work. Hopefully I can finish it this weekend 😄

[2016-07-01 14:14] fuzzelfish opened #28 "android port does not work with ndk 12"
"Removed support for the armeabi-v7a-hard ABI",

maybe add a comment somewhere, it took me a few moments to realize

[2016-07-01 15:54] chenguoguo commented on #28
Thanks for point this out! I added a few words in README.md to reflect this. I will also look into ways to support ndk r12.

[2016-07-01 15:54] #28 closed

[2016-07-01 23:05] nomadic-squirrel commented on #4
Ok, closer. I think. I am running on a Debian vm in the hopes that I can do some development while I travel.. yea, not so sure that is a great idea, but I'm making some progress here and there.
Anyway, I played with the `install_portaudio.sh` script, but it seemed to have trouble finding the right libraries. So I did `make uninstall` and then just did `sudo apt-get install portaudio19-dev`. Which

[2016-07-01 23:13] evancohen commented on #4
Depending on the arch of your Pi you should be able to follow the instructions here to upgrade node:
http://docs.smart-mirror.io/docs/installation.html

If you are using a first gen Pi (revision number starts with `0`) then you will need to change all of the the 7's to 6's when downloading the library (ARMv6 vs ARMv7)

[2016-07-02 01:08] nomadic-squirrel commented on #4
Ok, progress. Again, this is a Debian VM:
[code]
That I'm playing with before I get to the pi, so the pi will likely be different. But after running the [install instructions](https://github.com/nodesource/distributions#debinstall) for nodesource I was able to successfully run `npm install` in the `snow/node` directory.
I don't yet have a mic hooked up here, so not much I can do for now, but at le

[2016-07-02 01:48] evancohen commented on #4
Like I said in my previous post, not everything is wired up yet. `snowboy.pow` was a test I wrote to test the nan pipeline (just computes 4^2 in C++ and returns the results).

[2016-07-02 16:57] Smanar opened #29 "Better rules to choose the hotword."
Hi, I m using your engine in a C++ project (for the moment it's more C) without problems, but I need to use a trick to reduce false positive.
It's perhaps due to microphone but if a record the word "momomo" I have a trigger when I say "tatata" (even with 0.5 sensitivity).
IDK how work your algorithm, but what can I do to choose a better Hotword. Its better to use long word/short word more vowel/mo

[2016-07-02 20:41] chenguoguo commented on #29
Yes it's definitely better to use long and unique word/phrases. We should
probably add it to the documentation. Thanks for pointing this out.
On Jul 2, 2016 9:57 AM, "Smanar" <notifications@github.com> wrote:

[2016-07-03 09:01] Smanar commented on #29
And for vowel/consonant choose, it doesn't have impact on it ?
Some "sound" aren't better then other ?
It's better to use same vowel 2/3 time in the word, or the more different possible ?

Or only the lenght have impact on the result ?

[2016-07-03 22:11] chenguoguo commented on #29
Things like vowel/consonant choice will affect the performance, yes, but
may not be a lot. Your intuition should be correct to some extent, but we
don't have a chart showing the performance difference of different
vowel/consonant combination, so I don't feel like giving a suggestion on
this yet. Also, if we suggest one "sound" over another, that may not hold
if we update the model in the future :-

[2016-07-04 03:50] tomgie opened #30 "Error when starting any app?"
I get this error on Ubuntu 14.04 any time I try to start any python program.

http://pastebin.com/ZRaf2Guc

[2016-07-04 17:04] Smanar commented on #29
Lol, thx a lot, I will continue my tests for fun, but since I don't know how works your engine, Is totaly random ^^.
In fact It's not really a problem, I m using a trick. With 2 hotwords, after the first one I have 3/4 s to say the second one, else it reset. With that I have only 1/2 false positive in a complete day, but it's realy frustrating when the engine mix some word as differents as "momomo

[2016-07-04 17:43] chenguoguo commented on #29
Love your trick, by probability it will reduce false positive quite a lot
:-)

We will keep imoroving the model. Hopefully in the future it will better
handle things like momomo. Our model is a currently trained on human
speech, not "sound".
On Jul 4, 2016 10:04 AM, "Smanar" <notifications@github.com> wrote:

Lol, thx a lot, I will continue my tests for fun, but since I don't know
how works your e

[2016-07-04 17:55] xuchen commented on #30
Does it work for you with `rec tmp.wav` and `play tmp.wav`? those are simple ways to determine whether ALSA is set up properly

[2016-07-05 23:01] chenguoguo commented on #29
I'll add some suggestions on how to choose a hotword. Colsing this issue.

[2016-07-05 23:01] #29 closed

[2016-07-05 23:02] chenguoguo commented on #25
I guess the issue has been resolved? Closing this.

[2016-07-05 23:04] #20 closed

[2016-07-05 23:06] #25 closed

[2016-07-06 04:55] chenguoguo commented on #30
Any updates @tomgie ? Please also let us know if you figured it out by yourself. Your solution might be helpful to others.

[2016-07-06 23:13] tomgie commented on #30
I just figured out if you ignore this error it works fine. But still should look into it.

[2016-07-06 23:13] #30 closed

[2016-07-12 12:01] JpEncausse opened #31 "Windows precompiled binaries"
Hi,
Any plans for windows precompiled binaries ?

[2016-07-12 14:08] chenguoguo commented on #31
It's currently not in our short term plans. We will probably look into this when it's more stable.

[2016-07-12 14:08] #31 closed

[2016-07-18 00:22] seanyesmunt opened #34 "404 on Docs Page"
The current link to your docs leads to a 404

[2016-07-18 00:31] chenguoguo commented on #34
Thanks for letting us know! We'll look into this. In the meantime here is the old version of the documentation: https://snowboy-test.kitt.ai/docs

[2016-07-18 00:33] seanyesmunt commented on #34
Awesome thanks.

[2016-07-18 14:44] chenguoguo commented on #34
Closing this as doc is up.

[2016-07-18 14:44] #34 closed

[2016-07-23 07:08] sciguy14 opened #35 "Python 3.4 throws swig errors"
Got it built for the pi, inside a venv. Super cool! However, although I'm able to run the demo with python 2.7, it fails when I try to run it using Python 3.4 (the default inside my virtual env).

[code]

I followed these instructions regarding getting it compiled:
https://github.com/Kitt-AI/snowboy/issues/17

[2016-07-24 05:46] chenguoguo commented on #35
Hi, looks like it's related to swig. We have't tested Python3 yet. I'll have a try to see if I can update my Python without breaking my existing stuff :-)

[2016-07-25 16:33] chenguoguo commented on #35
I'll leave this up for a while. I haven't figured out the best way to pass data from Python to C++ using swig without changing a lot of stuff. We are using string in Python2.x but the string object in Python3.* now holds unicode instead of bytes.

[2016-07-25 18:24] sciguy14 commented on #35
Understood. Figured that was the cause, just wanted to bring it to your
attention. In the meanwhile, I'm happily using Python2.7 with Snowboy and
it's working great. Every year or so, I say to myself, "Maybe it's time for
me to give Python3 another shot", and then I do it, and everything breaks,
and I find myself back in the warm embrace of Python2.x again.

On Mon, Jul 25, 2016 at 9:34 AM, Guoguo

[2016-07-27 03:42] stridera commented on #17
if you follow the instructions (and apt-get swig3.0) you can edit the make file to do this:

[2016-07-28 12:24] cicavey opened #36 "Source missing for libsnowboy-detect"
There is no source available for the static libraries. You're asking everyone to trust what it contained in those libraries.

[2016-07-28 15:34] chenguoguo commented on #36
Sorry, but this is the best we could offer at this point. We don't have a plan on releasing the source.

[2016-07-28 15:34] #36 closed

[2016-07-31 10:18] Techblogogy opened #37 "mac os x assertion error"
Hello everyone, I'm having a little problem, whenever I'm trying to use snowboyy I get this error

||PaMacCore (AUHAL)|| Error on line 2466: err='-10863', msg=Audio Unit: cannot do in current context
Assertion failed: (!err), function AudioIOProc, file src/hostapi/coreaudio/pa_mac_core.c, line 2467

can somebody help me with that?

[2016-07-31 12:14] Techblogogy commented on #37
sorry i've found the issue, everything is fine

[2016-07-31 12:14] #37 closed

[2016-08-03 23:43] chenguoguo commented on #35
could you check out the devel branch and give it a shot with your python3? you will have to compile the library with your python3 dependencies using this [makefile](https://github.com/Kitt-AI/snowboy/blob/devel/swig/Python/Makefile). please also make sure you use swig 3.0.10. Let me know if it works.

[2016-08-04 01:48] chenguoguo commented on #14
@nomadic-squirrel could you let me know if this was fixed eventually? If yes how did you fix it? Thanks!

[2016-08-08 10:53] rithvikvibhu opened #38 "undefined symbol: cblas_sgemm"
I'm trying to install snowboy on Ubuntu 16.04 LTS and get this when I run demo.py. This happens with both python3 and 2.

[code]
Any ideas?
EDIT: ubuntu1404-x86_64-1.0.4 is just the extracted tar for Ubuntu.

[2016-08-08 11:06] rithvikvibhu commented on #38
`ldd -r _snowboydetect.so` got me this

[code]

[2016-08-08 15:39] chenguoguo commented on #38
Try to install ATLAS by the command `sudo apt-get install libatlas-base-dev`

[2016-08-08 15:39] #38 closed

[2016-08-12 01:22] WksKing opened #39 "How to work on Android platform, I encountered a build error following your sop."
thanks for your excellent product.

Build environment:
- Ubuntu14.04  64 bits
- swig-3.0.7
- android-ndk-r11c

$PATH:

bash: /home/king/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/home/king/AndroidDevelop/android-studio-sdk/android-sdk-linux/platform-tools:/home/king/AndroidDevelop/android-studio-sdk/android-sdk-linux/tools:/home/king/AndroidDevelo

[2016-08-12 06:45] chenguoguo commented on #39
Please try to use the following command to generate the toolchain

[code]

You then add `PATH_TO_INSTALL_YOUR_ANDROI_TOOLCHAIN/arm` to your path and make use you use binaries from `PATH_TO_INSTALL_YOUR_ANDROI_TOOLCHAIN/arm` instead of `$NDKROOT`. We only use `$NDKROOT` to load libraries.

Please let me know if this helps.

[2016-08-12 07:40] WksKing commented on #39
@chenguoguo,  Thank you very much for prompt reply, you suggestion has fixed my issue:

solution as below:

2. Add android_toochain binary path to $PATH,
export PATH=$PATH:/home/king/AndroidDevelop/swig_tool/bin:/home/king/AndroidDevelop/android_toolchain/arm/bin

[2016-08-12 07:40] #39 closed

[2016-08-12 08:38] WksKing opened #40 "Android demo app crash"
I write a demo tool to use "hotword detection" function, but I encountered a crash when create a SnowboyDetect object, error msg is:

---

My code snippet as below:

Java code:

I have pushed common.res and snowboy.umdl files to Android internal storage root folder. those files come from snowboy-master/resources/

AndroidManifest.xml

thanks in advance!

[2016-08-12 08:53] WksKing commented on #40
App crash issue has fixed:
I add below codes in snowboyJNI.java

    System.loadLibrary("snowboy-detect-android");
  }

[2016-08-12 09:18] WksKing commented on #40
Another question:
I want this demo tool to keep recording/recognizing for user voice command until get a keyword "snowboy", how I need to do? the sample demo is too simple:

    SnowboyDetect snowboyDetector = new SnowboyDetect("/storage/emulated/legacy/common.res",
            "/storage/emulated/legacy/snowboy.umdl");
    snowboyDetector.SetSensitivity("0.45");         // Sensitivity for each hot

[2016-08-12 11:08] Smanar commented on #40
I don't know how swig is working, I m using the original C++ version, but I thing you can find what you are looking for here > https://github.com/Kitt-AI/snowboy/blob/master/examples/Python/snowboydecoder.py

And no, microphone open/close isn't controlled by the library. In this example, you are using Portaudio (with python) to make a "RingBuffer" (a loop sound). and every X s, you send this buffe

[2016-08-12 16:41] chenguoguo commented on #39
Great, I'll add this to the instructions.

[2016-08-12 16:56] chenguoguo commented on #40
Thanks @Smanar for the awesome answer! Yes Snowboy doesn't control the microphone itself, it only reads the audio data (chunk by chunk) and returns a number indicating if the hotword has been detected. It general process will look like:

1. Set up the microphone
2. Send audio data chunk by chunk to Snowboy
3. If a hotword is detected, you can then do whatever things you want to do. For example, in

[2016-08-12 22:44] richardfuchs commented on #17
I also had the Error:
TypeError: __init__() got an unexpected keyword argument 'model_str'

My Setup:

- Hardware: Raspberry Model B - Generation 1
- OS: Raspbian Jessie

I fixed it running a modified version of the above scipt:
[code]
I also installed the needed programs/libs:
https://github.com/Kitt-AI/snowboy#ubunturaspberry-pi
**and** compiled snowboy myself (the pre-compiled/provided version

[2016-08-12 22:47] richardfuchs commented on #18
I also had the Error:
TypeError: __init__() got an unexpected keyword argument 'model_str'

My Setup:

- Hardware: Raspberry Model B - Generation 1
- OS: Raspbian Jessie

I fixed it running a modified version of the https://github.com/Kitt-AI/snowboy/issues/17#issuecomment-224766173 scipt:
[code]
I also installed the needed programs/libs:
https://github.com/Kitt-AI/snowboy#ubunturaspberry-pi
**and

[2016-08-13 01:33] chenguoguo commented on #18
@richardfuchs could you give me the link of the pre-compiled version that doesn't work? I should fix that.

[2016-08-13 02:01] richardfuchs commented on #18
@chenguoguo https://s3-us-west-2.amazonaws.com/snowboy/snowboy-releases/rpi-arm-raspbian-8.0-1.0.4.tar.bz2

[2016-08-13 06:05] WksKing commented on #40
Thanks @Smanar @chenguoguo for your kindly help, I write a demo tool using snowboy library under your big support, you can find my demo project at: [Android_snowboy_demo](https://github.com/WksKing/Android_Demo_Tools/tree/master/DemoTools/snowboy_demo).

It works to detect the hotword, but it's too difficult to recognize, It can successfully detect one time after trying to test about 20 times.
and

[2016-08-13 06:13] chenguoguo commented on #40
For the universal model "Snowboy" I also noticed that it performs worse on my Android phone than on my laptop. It's mostly caused by the mismatch microphones. The training data was collected on laptops, which might be very different from your Android phone's microphone. I played with the audio gain and sensitivity to make the detection work. You can also play with those parameters, e.g., increasin

[2016-08-13 06:54] WksKing commented on #40
@chenguoguo, thank you.
You're right, the success  rate has been greatly increased (Sensitivity is 0.5, AudioGain is 1.0), pass rate is about 25 percent. maybe I need more test and adjust for the parameters.

if have new result, I will comment here.

thanks again.

[2016-08-13 14:15] chenguoguo commented on #40
@WksKing you can further increase the sensitivity, it won't false alarm a lot.

[2016-08-22 07:28] WarlaxZ opened #41 "ImportError: No module named _snowboydetect"
Hi Guys,

First of all, absolutely love the library, using it for a smart home and it's literally the way I get everything to work. I actually run this on a pi 3 which is the interface to all the cool stuff. However I develop on windows (mounted samba from the pi), but unfortunately, I can't test locally first and I have to keep running on the pi and its a bit of a pain. Is there any likelihood th

[2016-08-22 17:45] chenguoguo commented on #41
Thanks a lot for the support! It's always good to hear back from users that the project is actually doing them something good :-)

Unfortunately we don't have a near-term plan for porting this on to Windows. Windows 10 now has the native bash shell terminal. Will that be helpful for your testing?

[2016-08-22 21:12] WarlaxZ commented on #41
I'll be honest I don't even know what that is? Will that enable me to import the .so file in python? If so and you can tell me how that would be fantastic! For now I'm having to restort to using raw_input and bypassing snowboy, and thats just a shame as I full on love this project. Literally adding new features to my home automation every day :) Just today added the ability to play a film or tv sh

[2016-08-22 21:23] chenguoguo commented on #41
Sounds like a lot of great things are going on in your home :-) Would you like making some videos/demos to show off your project to others? We have a blog that keeps track of the interesting projects developed with Snowboy from developers. We can put your project there as well. See here: https://blog.kitt.ai/2016/08/16/snowboy-has-more-than-1-000-developer-users/

For the bash shell terminal on Wi

[2016-08-22 23:02] illperipherals commented on #9
I was able to resolve the following errors below:

[code]
from /usr/share/alsa/alsa.conf, remove:
[code]

[code]

copy the .Xauthority file from my own profile /home directory to /root.

[code]

/usr/share/alsa/alsa.conf.d/ remove pulseaudio files. Check home directory for .asoundrc and remove pulseaudio from there if needed.

[code]

[code]

After making those changes, I no longer get the errors,

[2016-08-22 23:32] chenguoguo commented on #9
@illperipherals awesome, thanks for letting us know! I'll do some testing and possibly add those suggestions to the documentation in the next release.

[2016-08-25 20:46] Corkskru commented on #41
I am facing similar issue of ImportError: No module named _snowboydetect.
I have followed exactly the same procedure mentioned in the documentation. I am using python 2.7.5 and swig 3.0.10
Any help in this case will be appreciated!

[2016-08-25 20:48] Corkskru opened #42 "Make error - make: *** [_snowboydetect.so] Error 1"
" g++ -I../../ -O3 -fPIC -std=c++0x  -shared snowboy-detect-swig.o \
	../..//lib/ubuntu64/libsnowboy-detect.a -L/usr/local/lib/python2.7/config -lpthread -ldl -lutil -lm -lpython2.7 -Xlinker -export-dynamic -lm -ldl -lf77blas -lcblas -llapack_atlas -latlas -o _snowboydetect.so
/usr/bin/ld: /usr/local/lib/python2.7/config/libpython2.7.a(abstract.o): relocation R_X86_64_32S against `_Py_NotImplement

[2016-08-25 21:31] chenguoguo commented on #41
Please tell us more details, e.g., what is your platform, what is the os, etc.

[2016-08-25 21:44] chenguoguo commented on #42
what was your platform? os?

I briefly searched and it might related to python installation. Did you compile Python by yourself or did you use the standard python? see here: https://github.com/gmarcais/Jellyfish/issues/45

[2016-08-25 22:36] Corkskru commented on #41
I am on Ubuntu 14.04 - just trying to compile and run. Thanks

[2016-08-25 22:39] Corkskru commented on #42
Hi,
Ubuntu 14.04 -- trying to compile and run the Python wrapper. I compiled Python 2.7.5 by myself.
the files are in /usr/local/lib. However, 'which python' returns /usr/local/bin. Are the compiled and default(pre-installed) pythons in conflict with each other?

[2016-08-25 23:32] chenguoguo commented on #42
I think so. In the makefile we used `shell python-config --cflags` and `shell python-config --ldflags` to determine the python dependencies. You may want to replace them with what you are actually using. Also, it might be easier if you install and use your Python in a virtual environment (you have to set this up correctly though). Please let us know if this helps.

[2016-08-26 02:06] Corkskru commented on #42
Thanks a lot! It was indeed a conflict -- 'sys.path' displayed that it was using the compiled version of python. I removed/uninstalled the extra python files and now its working wonders!!
Great SDK though! :)

[2016-08-26 04:19] chenguoguo commented on #42
OK thanks, closing since it's resolved.

[2016-08-26 04:19] #42 closed

[2016-08-26 17:46] Beaverboy opened #43 "Using cron to start a python file that is wakeword enabled."
Im trying to start a python script upon raspberry pi start.
I have edited my root crontab file  ( sudo crontab -e)
Ive asked cron to start the python script as well as the .pmdl file.
my crontab looks like
@ reboot /location_of_file/pythonscript.py Hotword.pmdl
the python script is starting, but but the startup error file for the script says that the .pmdl file is not found.

Am I going about this

[2016-08-26 18:02] chenguoguo commented on #43
This doesn't seem to be directly related Snowboy... You could try to give the full path of your pmdl file.

[2016-08-26 19:08] Beaverboy commented on #43
I feel silly, that was it. Thanks ;O)

[2016-08-26 19:08] #43 closed

[2016-08-27 07:16] jaydev1997 opened #44 "GPIO relay On-Off script based on two models."
i need GPIO relay On-Off script based on two models. same as demo2.py but the script should be work as follows.

1) when model 1 detects it plays ding sound and turn on relay 17.
2) when model 2 detects it plays dong sound and turn off relay 17.

if anyone can make script like this i would really appreciate. Thanks in Advance..

[2016-08-27 15:33] xuchen commented on #44
This is really not a snowboy issue but related to Raspberry Pi. Did you have a look at the example we gave about GPIO:

http://docs.kitt.ai/snowboy/#blink-an-led-light

[2016-08-27 15:33] #44 closed

[2016-08-27 15:44] jaydev1997 commented on #44
I did but as i mentioned  i want on-off script i.e. if model 1 detected it should be turn on gpio pin x and if model 2 detected it should turn off the relay pin.

[2016-08-27 15:50] xuchen commented on #44
something like this?

[code]

[2016-08-27 16:37] jaydev1997 commented on #44
@xuchen  Thank you Very much.. I really appreciate your work...

[2016-08-27 16:43] jaydev1997 commented on #44
Another script request ...can you please tell me execute custom bash script which works exactly like this.
(i'm making home automation project ( school project)). i want to add functionality like if i say "update" it should execute linux command like "sudo apt-get update"

[2016-08-27 16:50] xuchen commented on #44
check out:

https://docs.python.org/2/library/subprocess.html

[2016-08-27 16:51] jaydev1997 commented on #44
I'm sorry, i'm new to python can you describe where to implement this subprocess call.. ?

[2016-08-27 17:03] xuchen commented on #44
you gotta first spend time to learn python then handling snowboy is just a piece of cake. how about starting from here: https://docs.python.org/2.7/tutorial/index.html

[2016-08-27 17:13] jaydev1997 commented on #44
well i don't have much time.. submission is near.. can you please tell me the how to implement it.. i tried it but got an error. check logs here--> http://goo.gl/3ud1pb

[2016-08-27 17:15] xuchen commented on #44
from beginning: `import subprocess`

[2016-08-27 17:18] jaydev1997 commented on #44
Got an error command specified in subprocess executes at script runtime see log here.. http://goo.gl/KeKL7X

[2016-08-27 17:29] xuchen commented on #44
you should wrap your callback in a lambda function:

[code]

[2016-08-27 17:31] jaydev1997 commented on #44
so everything in subprocess " "  will execute right... also a other python scripts?

[2016-08-27 17:37] xuchen commented on #44
yes; i'm going offline now, good luck!

[2016-08-29 09:15] adimnno opened #45 "Alsa problems on RaspBerry Pi3"
I'm using Raspberry Pi3 with raspbian for implementation.
When running the python demo, comes the error messages as follow:

[code]

I have followed the instructions on https://snowboy.kitt.ai/docs to modify the .asoundrc file. I am not able to figure out the problems here. Is it something about alsa configuration or the port audio settings?

[2016-08-29 16:06] chenguoguo commented on #45
Is the detection actually working? Sometimes you see errors/warnings like this but the detection is already working. Also, see the thread here https://github.com/Kitt-AI/snowboy/issues/9, people are able to get rid of those errors/warnings.

[2016-08-30 04:12] mrgreaper commented on #35
getting the same error,
root@raspberrypi:~/AlexaPi# python start.py Alexa.pmdl
Traceback (most recent call last):
  File "start.py", line 2, in <module>
    import main
  File "/root/AlexaPi/main.py", line 24, in <module>
    import snowboydecoder
  File "/root/AlexaPi/snowboydecoder.py", line 6, in <module>
    import snowboydetect
  File "/root/AlexaPi/snowboydetect.py", line 28, in <module>

[2016-08-30 05:21] chenguoguo commented on #35
oh if you want to compile, you have to checkout this repository https://github.com/Kitt-AI/snowboy instead of downloading the pre-compiled tarballs.

[2016-08-30 10:39] trofimichine commented on #35
curious to see if anyone had any luck getting this going on the devel branch?

[2016-08-31 20:00] alexyak opened #46 "The web site is down."
When's your web site is coming back online? I need to generate new voice commands.

[2016-08-31 20:57] xuchen commented on #46
we are working on improving the performance and expecting to bring it back by EOW!

[2016-09-01 12:19] jurschreuder commented on #41
Hi I've also got problems with Swig and Python.
Hope this info is helpful.

Ubuntu 15.10
swig 3.0.7 - built from source as recommended in snowboy/swig/Python/Makefile
Both python2.7 and python3.5 got this issue.

[code]

[2016-09-01 14:02] chenguoguo commented on #41
We don't have a binary for Ubuntu 15.10. Could you try 14.04?

Guoguo

On Thu, Sep 1, 2016 at 5:19 AM, jurschreuder <notifications@github.com>
wrote:

[2016-09-01 16:54] xuchen commented on #46
the website is up now with much improved speed

[2016-09-01 16:54] #46 closed

[2016-09-01 19:55] alexyak commented on #46
When I try to record the hotword, it always stays on a first step recording. There's no way to move to the next step.

[2016-09-01 23:52] chenguoguo commented on #46
What was your browser? We only support Firefox and Chrome at this point.

When you said "first step recording" did you mean that you were not able to
click on the "Test the model" button? Were you able to play the recorded
audio back to you and if yes did they sound good?

On Thu, Sep 1, 2016 at 12:55 PM, alexyak <notifications@github.com> wrote:

[2016-09-02 01:09] alexyak commented on #46
Sorry, my mike was disabled for some reason. It's working now.

[2016-09-02 08:11] evancohen commented on #4
Hey everyone, it's been a while! I finally got my act together and got the Nan module working. You can find the code and instructions here: https://github.com/evancohen/snowboy/tree/devel/swig/Node

A few caveats:
- This only works on OSX right now - I plan on fixing this shortly
- It's a bit hacky - I wrote the js wrapper in a hurry so the interface isn't *that* great
- It doesn't actually use sw

[2016-09-02 12:38] Sispheor opened #47 "add -infile option to read from pre-recorded wav file"
For testing, I would like to record my voice and give the recorded sample to snowboy for testing my script without having to speak into my microphone everytime.

On pocket_sphinx continus there is an option to do that
`pocketsphinx_continuous -infile file.wav`

[2016-09-02 16:22] chenguoguo commented on #47
This is easily doable, but you might have to modify the code a little bit.

Taking the [C++ demo](https://github.com/Kitt-AI/snowboy/blob/master/examples/C%2B%2B/demo.cc) as an example,
[code]
What you have to do is, instead of reading the data using `pa_wrapper.Read(&data);` which calls PortAudio and captures audio through the microphone, you should read the data from audio file. Make sure your a

[2016-09-02 16:23] #47 closed

[2016-09-02 16:24] chenguoguo commented on #4
Awesome! @evancohen

[2016-09-02 18:46] MexXxo commented on #4
Awesome, I will test this once it works also on Linux / RPi3

[2016-09-04 02:06] cbcoutinho opened #48 "Unable to make on openSUSE"
I'm unable to make the python wrapper on my opensuse machine.

Specifically, I run into an error with 3 libraries (f77blas, lapack_atlas, and atlas):

[code]

One thing I did was add '-L/usr/lib64' as an additional flag in the hopes of finding these libraries, and that did work for cblas, but unfortunately that doesn't seem to have worked for the remaining 3.

Does anyone have an idea of what the

[2016-09-04 06:59] chenguoguo commented on #48
Hi, you'll likely have to install Atlas, probably using some pre-compiled packages. However, we have only compiled Snowboy for Ubuntu 14.04 (64 bit), OS X, Raspbian based on Debian Jessie 8.0, so I'm not sure if it will work on your openSUSE machine at all... if you give it a shot, please let us know.

[2016-09-05 19:05] louisdgm59 opened #49 "Typo on site"
Sorry if this is posted in the wrong place but there was a typo on the hotword detail page. 'notify' http://imgur.com/a/ss1OF

[2016-09-05 19:07] xuchen commented on #49
haha thanks! @chenguoguo please fix it ;-)

[2016-09-05 22:55] chenguoguo commented on #49
Bug has been fixed. Thanks @louisdgm59 for reporting!

[2016-09-06 14:33] Kushcabbage commented on #45
I have the same errors as above and it isnt working. Does a server socket need to be installed?

[2016-09-06 19:03] chenguoguo commented on #45
@Kushcabbage it's most likely the audio configuration problem.
1. Please make sure you follow https://snowboy.kitt.ai/docs to set up the audio configuration.
2. Make sure you are able to record using `rec test.wav`, and make sure the recorded audio sounds good to you.
2. When you say it's not working, did you mean the universal we provide in the example was not working? Or did you mean you trained

[2016-09-06 19:14] aazimh opened #50 "Adjust for background noise?"
Hi guys,

Love Snowboy, been using it for a while now for a voice-activated dashboard of sorts on my RPi at home. The problem I have though is that I seem to be getting a lot of false triggers whenever I turn the TV on. I've moved the mic further away from the TV, I'm using a personal model that was recorded using the RPi as well, so I think the obvious fronts are covered.

My question was, is the

[2016-09-06 19:37] chenguoguo commented on #50
Hey,

Thanks for the feedbacks. It's generally hard to optimize for different conditions, including the microphones, the environments, etc. There are things we could do on the model level, but that will be in future releases.

You could try to reduce the sensitivity value, if 0.5 is too high for you. That will likely reduce the detection rate though. You could also try to use longer hotwords, long

[2016-09-06 20:44] aazimh commented on #50
Fair enough, thanks for the suggestions! Will definitely take a look at trying some. Does that mean I was imagining the function that adjusts for background noise automatically? :)

[2016-09-06 20:50] chenguoguo commented on #50
You were probably talking about the audio-gain parameter :-) That may not relate to the background noise directly, but you can play with it. Search for `audio_gain` in this file: https://github.com/Kitt-AI/snowboy/blob/master/examples/Python/snowboydecoder.py

Closing this since question has been answered.

[2016-09-06 20:50] #50 closed

[2016-09-06 20:50] #49 closed

[2016-09-06 21:17] Kushcabbage commented on #45
I followed the steps in the docs and both the record and playback works flawlessly. I was able to fix the server socket error but running `jack_control start` before running the demo (I feel like this should be added to the docs). Now I have an error from pyaudio saying sample rate is invalid. I understand the Snowboy requires data in a 16000 Hz sample rate, however my mic is 44100Hz, is this the

[2016-09-06 21:26] chenguoguo commented on #45
There could be two possibilities:
1. Your microphone does not support 16000 sample rate. It was PyAudio that wasn't able to capture the audio from sound card. You could take a look at for example: http://stackoverflow.com/questions/4623572/how-do-i-get-a-list-of-my-devices-audio-sample-rates-using-pyaudio-or-portaudio
2. It's more likely that your audio configuration was messed up. Was this a fres

[2016-09-06 21:26] chenguoguo commented on #45
There could be two possibilities:
1. Your microphone does not support 16000 sample rate. It was PyAudio that wasn't able to capture the audio from sound card. You could take a look at for example: http://stackoverflow.com/questions/4623572/how-do-i-get-a-list-of-my-devices-audio-sample-rates-using-pyaudio-or-portaudio
2. It's more likely that your audio configuration was messed up. Was this a fres

[2016-09-06 21:26] chenguoguo commented on #45
There could be two possibilities:
1. Your microphone does not support 16000 sample rate. It was PyAudio that wasn't able to capture the audio from sound card. You could take a look at for example: http://stackoverflow.com/questions/4623572/how-do-i-get-a-list-of-my-devices-audio-sample-rates-using-pyaudio-or-portaudio
2. It's more likely that your audio configuration was messed up. Was this a fres

[2016-09-06 21:27] chenguoguo commented on #45
There could be two possibilities:
1. Your microphone does not support 16000 sample rate. It was PyAudio that wasn't able to capture the audio from sound card. You could take a look at for example: http://stackoverflow.com/questions/4623572/how-do-i-get-a-list-of-my-devices-audio-sample-rates-using-pyaudio-or-portaudio
2. It's more likely that your audio configuration was messed up. Was this a fres

[2016-09-06 21:27] chenguoguo commented on #45
There could be two possibilities:
1. Your microphone does not support 16000 sample rate. It was PyAudio that wasn't able to capture the audio from sound card. You could take a look at for example: http://stackoverflow.com/questions/4623572/how-do-i-get-a-list-of-my-devices-audio-sample-rates-using-pyaudio-or-portaudio
2. It's more likely that your audio configuration was messed up. Was this a fres

[2016-09-06 21:46] Kushcabbage commented on #45
This is the output for my usb soundcard from Pyaudio's system_info.py

	defaultLowOutputLatency: 0.00868480725624
	defaultLowInputLatency: 0.00868480725624
	maxInputChannels: 1
	structVersion: 2
	hostApi: 0 (ALSA)
	index: 2
	defaultHighOutputLatency: 0.0348299319728
	maxOutputChannels: 2
	name: USB Audio Device: - (hw:1,0)
	defaultHighInputLatency: 0.0348299319728
	Input rates: [44100.0, 48000.0]

[2016-09-06 22:26] chenguoguo commented on #45
Most likely. I guess we'll have to replace PyAudio with something else as ALSA is causing a lot of problems. In the meantime you could probably try to use some other microphones?

[2016-09-06 22:27] Kushcabbage commented on #45
Yeah I may actually have a PS3 camera lying around somewhere.. So is this the fault of my microphone or the usb soundcard?

[2016-09-06 22:30] chenguoguo commented on #45
Did you use any external usb sound card? Raspberry Pi doesn't come with usb sound card. If you use PS3 camera then you should be fine since that things has usb sound card, and we've verified that it's working on our end.

[2016-09-06 23:37] Kushcabbage commented on #45
Yeah I'm using an external usb sound card with a microphone and speakers connected to the 3.5mm jacks. I suppose a usb mic is recommended?

[2016-09-06 23:38] chenguoguo commented on #45
Yes, it will work better with USB microphones.

[2016-09-07 00:02] Kushcabbage commented on #45
I now have the playstation camera setup as default by using .asoundrc , but it still throws the Invalid sample rate error

[2016-09-07 07:30] evancohen commented on #4
Still plugging along! I hit some unexpected hurdles when trying to publish to npm, mainly using [node-pre-gyp](https://github.com/mapbox/node-pre-gyp) to build precompiled native node binaries for people who don't want to build the plugin from scratch. This should make things *significantly* easier for everyone using the node library.

While I sort out the rest of the build issues, if you are on a

[2016-09-07 09:44] Kushcabbage commented on #45
Ok the error above originates from where the output stream is opened, I was able to fix this by specifying the device index number. If the device index option is set before the rate then `rate=self.detector.SampleRate()` can be used to set the rate correctly. Then the same invalid sample rate error occured for me on the output stream as my sound card is 44100 and the ding.wav is 16000, I fixed thi

[2016-09-07 15:13] chenguoguo commented on #45
@Kushcabbage thanks for letting us know. This is very wired, if we have already set up the .asoundrc file, PyAudio should have picked up the right device. Anyways I'll keep this in mind when people ask in the future. Closing this since problem has been solved. Thanks!

[2016-09-07 15:13] #45 closed

[2016-09-08 20:51] MathiasDesch opened #51 "Documentation not updated"
Just to let you know that the documentation on the website is not up to date concerning the demo code.

It is showing
`detector.start(detected_callback=snowboydecoder.ding_callback,
               interrupt_check=interrupt_callback,
               sleep_time=0.03)`

Where it changed to
`snowboydecoder.play_audio_file`

Great tool !

[2016-09-08 21:23] chenguoguo commented on #51
Thanks! Fixed, will appear in the next deployment!

[2016-09-08 21:23] #51 closed

[2016-09-09 01:57] adimnno commented on #45
Thank you so much @Kushcabbage  and @chenguoguo !
After hardcoding the sample rate and the input output device to pyaudio, the errors are gone yet ALSA warnings still exist. It seems that the mic works but the detection never succeeds. I found that the `ans=self.detector.RunDetection(data)` in _snowboydecoder.py_ always returns a -2 when nothing happens and a 0 when whatever I speak to mic. It nev

[2016-09-09 05:47] chenguoguo commented on #45
It could be that the input audio was not good enough. You could play with the sensitivity or audio_gain in this file (assuming you are using the Python example): https://github.com/Kitt-AI/snowboy/blob/master/examples/Python/snowboydecoder.py

Increasing the sensitivity will make the detection easy, but will also introduce false alarms, it's a value between 0 and 1. Increasing the audio_gain will

[2016-09-09 17:44] Darkein commented on #35
Tried with the devel branch, unfortunately got the same result.

I'm using ubuntu 16.04 x64 whose don't have swig 3.0.10 in it's repo so i recompiled it.
I tried to modify the makefile to use python3-config and added -py3 parameter to swig, without success.

I don't want to going back to python 2 :(

[2016-09-09 19:14] nekuz0r commented on #4
Hi there,

I just made a 1:1 nodejs wrapper and it also provide a WritableStream interface.

You can find the code here : https://github.com/heXeo/snowboy/tree/node
JS Interface : https://github.com/heXeo/snowboy/blob/node/lib/node/index.js

Also an npm module is publish : `npm install snowboy-detect`

# Example

[code]

[2016-09-09 20:09] evancohen commented on #4
@nekuz0r just looking over the code now, awesome work! I'd be interested in combining what we've done and sending a PR, if that's alright with you. I'll take a stab at it tonight/over the weekend and get it building for other platforms.

[2016-09-09 20:30] MexXxo commented on #4
nice work! I will also take a look into it.

[2016-09-10 06:53] chenguoguo commented on #35
The problem might be Ubuntu 16.04. We've only compiled Snowboy for Ubuntu 14.04 so far, so the library was only tested on 14.04 and I'm not too sure if it works on 16.04. If someone has tested it on 16.04, please let us know.

[2016-09-10 10:06] nekuz0r commented on #4
@evancohen Sure !

I updated the `bindings.gyp` file in order to get it compile on linux.
You will need `libatlas3-base` (ubuntu) package to be installed to be able to get it compile.
It's published on npm, version `1.0.5`

I will try it on a raspberry pi this afternoon :)

[2016-09-10 22:05] evancohen commented on #4
@nekuz0r Very nice :)

I've got it running on the Pi now! (I've also updated my todo above)

I've got your updates for linux plus my changes published on npm at `snowboy@1.0.9`. I have Travis pre-building binaries for Mac and Linux and publishing them on S3: https://travis-ci.org/evancohen/snowboy/builds/159020866.

@MexXxo you should be able to `npm install snowboy` on your linux box or your Pi.

[2016-09-12 20:01] MexXxo commented on #4
Hi @evancohen  and @nekuz0r,
I have changed a bit the interface and created a pull request.
Please take a look, only minor changes but I think it makes more sense to emit silence and noise as voiceactivity.

Also I have some questions, so the difference between your both modules seems to be that @nekuz0r  module needs an audio stream and @evancohen uses portaudio to get the audio. I personally pre

[2016-09-12 20:05] nekuz0r commented on #4
@MexXxo What do you mean by "multiple hotwords for one detection".

It maps exactly the C++ API, you can specify multiples models and it will returns the index of the detected keywords.

Or am i missing something ?

[2016-09-12 20:09] nekuz0r commented on #4
@MexXxo Indeed since the implementation is just a wrapper around the C++ API, you need to feed it with audio data.

I only added writable stream to it for convenience.

I greatly prefer to control the audio source, then you are able the feed it with whatever audio source you want.

Can be a file, audio data from an external software, from a web stream, from WebAudio API, ... it will simply works.

[2016-09-12 20:30] evancohen commented on #4
@MexXxo, As @nekuz0r mentioned it's a direct mapping for the wrapper, so you can add multiple models by doing something like:

[code]

Totally agreed that using a stream is superior to portaudio, it makes the interface much more flexible (although it does add a small layer of complexity for the end user, maybe @nekuz0r can provide some sample code for the examples mentioned above?).

One of the mo

[2016-09-12 21:00] nekuz0r commented on #4
@evancohen your `addModel` proposal sounds good, it definitely add some readability, especially if you need to specify lots of hotwords. But i would avoid callback, in benefits of the event emitter.

Maybe it would be nice to have a `HotwordModels` class or something you pass to the `SnowboyDetect` constructor.

[code]

The `count` argument is used to determine which model triggered an hotword, be

[2016-09-12 21:54] Sispheor commented on #41
Same for me on Ubuntu 16.04

[code]

[2016-09-12 21:56] chenguoguo commented on #41
Please try Ubuntu 14.04 for now... We compiled it for Ubuntu 14.04

[2016-09-13 04:39] adimnno commented on #45
- Using snowboy.umdl, I tried different pairs of sensitivity and audio_gain, none of them can make a success of detection, there is not even a false alarm.
- Then I recorded three audio of my saying "Alexa" using the same system of the raspberry. I trained another Alexa.pmdl using those sound files.
- On my mac, I also build the snowboy and tried it with the snowboy.umdl. It doesn't work either.
-

[2016-09-13 05:37] evancohen commented on #4
Yeah, that sounds awesome! I took a crack at that in my branch and updated the example to reflect the updated structure. I haven't updated the npm package yet. Take a look and let me know what you think: https://github.com/evancohen/snowboy/commit/9409cd71577b0212b4eb8e25170628c2a8403e58

I'm a bit confused by this, do you mean that there can be multiple words in a "single" hotword?

@chenguoguo c

[2016-09-13 06:03] chenguoguo commented on #4
On Mon, Sep 12, 2016 at 10:37 PM, Evan Cohen <notifications@github.com>
wrote:

Yes universal model can have multiple hotwords, although the provided
snowboy.umdl only contains one hotword. Personal model will only contain
one hotword. E.g., if you have two personal models, 1.pmdl and 3.pmdl, and
you have one universal model 2.umdl, which contains 2 hotwords, now if you
provide "1.pmdl,2.umdl,3.pm

[2016-09-13 06:23] chenguoguo commented on #45
@adimnno when you record the Alexa samples on Raspberry Pi, and then upload it to snowboy.kitt.ai for model training, could you make sure that those audio samples are in good shape? In particular, please cut off the surrounding audio around Alexa for each audio sample. Sometime microphones on Raspberry Pi has noise and the VAD does not work well on that. Most likely that will make your Alexa.pmdl

[2016-09-13 12:31] Sispheor commented on #41
It works on Ubuntu 16.04 with the compiled file from the tarball you provide for 14.04.

[2016-09-13 16:43] chenguoguo commented on #41
OK @Sispheor @jurschreuder, I took a look and it appeared to be a g++ version problem. The Snowboy library was compiled with g++ 4.x, which mostly likely you guys have g++ 5.x on your system. The workaround is to add `-D_GLIBCXX_USE_CXX11_ABI=0` to your `CXXFLAGS` in your Makefile. Let me know if this works.

[2016-09-13 22:04] nekuz0r commented on #4
@evancohen Hi, this is what i had in mind https://github.com/heXeo/snowboy/blob/typescript/lib/node/index.ts
(i rebased on your branch)

The implementation handles UMDL with multiple hotwords.

I rewrote it in typescript, i still have to set up npm `prepublish` so it will be transpiled before publishing.

[2016-09-13 23:51] evancohen commented on #4
@nekuz0r Awesome job! 😄

I was thinking of rewriting in TypeScript this evening, you beat me to it! Let me know once you get `prepublish` working so I can test the end-to-end build process (and update the `snowboy` npm package + binaries).

After that I'll send a PR to [`devel`](https://github.com/Kitt-AI/snowboy/tree/devel).

-

@chenguoguo there are a few build configuration things you'll have t

[2016-09-14 00:03] chenguoguo commented on #35
Could someone tell if if the current devel branch works on Python3? I just fixed an issue on Ubuntu 16.04 (g++ version related) so it should works on Ubuntu 16.04 now. If the Python3 is still not working, let's try to fix it.

[2016-09-14 00:09] chenguoguo commented on #4
Awesome!

Yes sure we can bump the version up to 1.1.0, we can certainly consider it as "substantial new functionality" :-)

And yes we definitely would like to see some documentation for it, perhaps in README?

[2016-09-14 19:08] nekuz0r commented on #4
@evancohen

The `prepublish` process is done.

Also:
- Added an example with hotword detection from a wave file.
- Renamed `demo.js` to `microphone.js`
- Updated `.npmignore` to remove all unneeded files
- Bumped version to 1.1.0 in `package.json`
- Changed repository url in `package.json` to `git+https://github.com/Kitt-AI/snowboy.git`

I have merge `typescript` branch into `node` branch and reba

[2016-09-15 01:40] evancohen commented on #4
Great! I'll finish up the documentation I was writing and send the PR. I'm going to hold off on publishing v1.1.0 until the PR is actually accepted in case we need to make any changes.

[2016-09-15 06:59] adimnno commented on #45
I have modified a little of the snowboydecoder.py to let it detect the data from my recorded sample files rather than the data from the microphone. I am using the Alexa.pmdl generated from your website by my voice samples.
When I use **arecord** command to record "alexa" samples like this:
`arecord -r16000 -c1 -twav -fS16_LE -Dplughw:1,0 test16k.wav`
It is OK that I set the samplerate to 16k 48k o

[2016-09-15 07:08] chenguoguo commented on #45
Yes the sample rate has to be 16000 for Snowboy to work. It's probably a ALSA configuration problem. Have you set up your .asoundrc file correct? Have you tried @Kushcabbage 's trick (see above) to specify the microphone that supports 16000 sample rate?

And thanks for mentioning the Mid-Autumn Festival, I miss my moon cakes :-)

[2016-09-15 08:07] adimnno commented on #45
My USB microphone has a default sample rate of 48000. I just changed your input_stream's parameters to 48000 which avoided the errors but never work with the recognition.  I think I will either change to another mic or convert the input sound from 48000 to 16000 programmatically then. It seems that command arecord can convert input to assigned sample rate automatically as I used the same USB micro

[2016-09-16 15:02] MexXxo commented on #4
@evancohen @nekuz0r  great work!

[2016-09-17 12:13] WarlaxZ commented on #4
Hi guys, really great work on this, but still can't get it working, as I'm getting this error (and yes im using strict in my example.js :)

class SnowboyDetect extends stream.Writable {
^^^^^

SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode

[2016-09-17 12:18] WarlaxZ commented on #4
for reference, adding "use strict" to the top of index.js made everything work like a charm though :)

[2016-09-17 12:28] nekuz0r commented on #4
@WarlaxZ Which version did you used ?

The latest branch [devel](https://github.com/evancohen/snowboy/tree/devel) uses typescript, the `"use strict"` statement is added automatically.

to install the latest branch using npm use the following command:

`npm install https://github.com/evancohen/snowboy#devel`

[2016-09-17 12:35] nekuz0r commented on #4
I edited my previous answer, because `npm install` using git in this case will not work because of the `.npmignore`

[2016-09-18 01:14] jhludwig opened #53 "unexpected kwargs"
when i try to run interactively as suggested, i get this error:

[code]

[2016-09-18 01:17] chenguoguo commented on #53
Did you use Swig to compile the Python library? This might help: https://github.com/Kitt-AI/snowboy/issues/17

[2016-09-18 01:25] jhludwig commented on #53
yes i did.  I just repeated the swig build process to be sure.  isn't the problem the mismatch between kwargs and args?  the call in snowboydecoder is:
[code]

but snowboydetect is expecting args:
[code]

[2016-09-18 01:35] jhludwig commented on #53
ps i just edited snowboydecoder to use args instead of kwargs and it seems to work much better.  i believe that is the problem.

[2016-09-18 01:36] chenguoguo commented on #53
OK snowboydetect.py is generated by swig and usually it does the kwargs to args conversion when it calls the C++ library. But it's good to know that it's working.

[2016-09-18 01:49] jhludwig commented on #53
well it is failing later on, so it is possible that fixing the mismatch in arg conventions just allowed the problem to manifest later on.  i am not swig-conversant, i am not quite sure how to fix the swig issue

[2016-09-18 01:51] chenguoguo commented on #53
what is your os? please also try `which swig` to make sure your swig version is above 3.0. Sometimes people have default swig installed.

[2016-09-18 02:06] jhludwig commented on #53
debian jessie.  the swig version does not seem to be the issue.

the swig version from the debian repos is:

[code]

[2016-09-18 02:10] chenguoguo commented on #53
yes the generated snowboydetect will be expecting args but swig should be able to handle internally.

It's very wired that using swig3.0 still does not help. What about trying the pre-compiled version from here: https://snowboy.kitt.ai/docs

[2016-09-18 02:18] jhludwig commented on #53
the pre-compiled version has a different function signature for the __init__ routine:

[code]
vs the `*args` version that i am seeing above.  this does work better, i am having now some sound card issues but your lib seems to work.

[2016-09-18 02:39] chenguoguo commented on #53
OK I misread my swig file. Yes the init function should expect the kwargs function signature. I'm not sure what happened with your swig conversion, but at least you can use the pre-compiled version.

[2016-09-19 21:15] arilotter commented on #4
Hi, I can't get the current version (as published on npm) working. running the example. Running `examples/node/microphone.js` crashed with `node: symbol lookup error:  .../node_modules/snowboy/lib/node/binding/Release/node-v48-linux-x64/snowboy.node: undefined symbol: cblas_sdot`

I've made sure I have libatlas-base-dev installed, but I thought I wouldn't need it because of the precompiled binarie

[2016-09-20 18:41] arilotter opened #54 "NodeJS Module fails to initialize: undefined symbol: cblas_sdot"
Hi, I can't get the current version of snowboy (as published on npm) working. Running `examples/node/microphone.js` crashes with `node: symbol lookup error:  .../node_modules/snowboy/lib/node/binding/Release/node-v48-linux-x64/snowboy.node: undefined symbol: cblas_sdot`

I've made sure I have libatlas-base-dev installed, but I thought I wouldn't need it because of the precompiled binaries.

Also,

[2016-09-22 02:26] chenguoguo commented on #54
I just started playing with this module. @nekuz0r and @evancohen might have a better clue.

[2016-09-22 02:26] #53 closed

[2016-09-22 02:27] chenguoguo commented on #4
Closing this after https://github.com/Kitt-AI/snowboy/pull/52

[2016-09-22 02:27] #4 closed

[2016-09-22 05:36] nekuz0r commented on #54
@arilotter I am looking into it.

[2016-09-25 18:53] lmEshoo opened #56 "Precompiled URL Access Denied"
https://s3-us-west-2.amazonaws.com/snowboy/snowboy-releases/rpi-arm-raspbian-8.0-1.1.0.tar.bz2

I get access denied

[2016-09-25 19:16] chenguoguo commented on #56
Fixed.

On Sun, Sep 25, 2016 at 11:53 AM, Lini Mestar <notifications@github.com>
wrote:

[2016-09-25 19:26] #56 closed

[2016-09-26 10:54] Tadly commented on #35
I'd really like to test the devel branch but building this thing on archlinux is a pain (well atlas is a pain on arch) and on debian I'm kinda struggling to get it to static link the atlas stuff.

Mind telling me how you guys create the builds with atlas being statically linked?

[2016-09-26 17:38] arilotter commented on #54
@nekuz0r if you need help reproducing or anything, I can reliably cause the issue to happen!

[2016-09-26 17:41] nekuz0r commented on #54
@arilotter I can reproduce, but i cannot figure out why the cblas library is not linked.
`ldd` on `snowboy.node` will show the cblas library is not linked, which is not the case on osx.
also `nm` on `snowboy.node` will also reveal the symbol are not statically linked.
So clearly there is an issue at link time, still investigating when i have time to.

[2016-09-26 17:56] chenguoguo commented on #35
@tadly we build the Python module using swig through this [Makefile](https://github.com/Kitt-AI/snowboy/blob/master/swig/Python/Makefile). The default does not link ATLAS statically.

[2016-09-27 06:28] #54 closed

[2016-09-27 07:47] Tadly commented on #35
@chenguoguo yeah, I know that already and did that as well. :)
However I'm unable to include Atlas in the resulting build as mentioned in [this inline-comment](https://github.com/Kitt-AI/snowboy/blob/68c62921fab20ad2ea5c0c82b9c06b177b551413/swig/Python/Makefile#L29-L30)

[2016-09-27 16:39] MexXxo commented on #54
Has the same issue, I fixed it with installing these packages:

now it's working like a charm, again thanks to @evancohen and @nekuz0r !

[2016-09-28 17:34] chenguoguo commented on #35
I see, you were trying to statically link to atlas on debian. When you install atlas on debian, I think both the .a and the .so libraries are installed. Then instead of using `LDLIBS := -lm -ldl -lf77blas -lcblas -llapack_atlas -latlas`, you use something like `LDLIBS := -lm -ldl /usr/lib/atlas-base/libf77blas.a /usr/lib/atlas-base/libcblas.a /usr/lib/atlas-base/liblapack_atlas.a /usr/lib/atlas-ba

[2016-09-28 17:54] Tadly commented on #35
hm.. well that was way to easy.
Spent over an hour googlen on how to force use static libs while building instead of shared ones and all I found was `-Wl,-strict` which didn't quite workout for me.

Anyway, thank you very much. Building it works now and I'll do some testing tomorrow even though v1.1.0 added official python3 support which renders this issue kinda useless by now :)
While on that top

[2016-09-28 18:00] chenguoguo commented on #35
you should be able to use the 14.04 snowboy library and build it on 16.04 by yourself. we haven't thoroughly tested python3 so expect issues :-)

[2016-10-03 04:24] nomadic-squirrel opened #61 "Error when running `node microphone.js`: node: symbol lookup error: /home/pi/snowboytest/node_modules/snowboy/lib/node/binding/Release/node-v48-linux-x64/snowboy.node: undefined symbol: cblas_sdot"
Ok, so I set up a new Debian x64 box and installed node v6.7.0:

[code]

Then did:

[code]

Everything installed successfully as far as I could tell. So based on the example, I came up with this code with the appropriate directories changed:

[code]

But when I run it:

[code]

I'm not sure if it is related or not, but when running the examples directly, I got an error trying to find the file..:

[2016-10-03 10:14] XXLTomate opened #62 "Java library"
A swig java library would simplify the workflow for java projects.

[2016-10-03 17:17] causztic commented on #61
@nomadic-squirrel When running the examples directly, for now, you need to manually change the file address from `resources/snowboy.umdl` and `resources/common.res`
to `../../resources/snowboy.umdl` and `../../resources/common.res` for now, until they've updated the example.

[2016-10-03 17:18] causztic opened #63 ""module not found" on Electron"
Hi!

I'm currently using the python library and spawning a child process for snowboy in Electron to detect my hotwords, and it works pretty well!
I've noticed that you guys recently added the Node library so I wanted to update my code for better flexibility.

While adding the example code

`const { Models, Detector } = require("snowboy");`

Electron throws an error of
[code]

Any ideas?

[2016-10-03 17:50] evancohen commented on #63
Electron supports native node modules, but because it comes bundled with its own V8 runtime there's some additional complexity. Likely your local version and electron version of v8 are mismatched.

Snowboy uses `node-pre-gyp` so I suggest using (electron-rebuild)[https://github.com/electron/electron-rebuild] to rebuild the module. Make sure to use the correct headers when rebuilding.

Looks like y

[2016-10-03 23:11] chenguoguo commented on #61
Since you are using Linux, please make sure you run this command `sudo apt-get install libmagic-dev libatlas-base-dev`. Also, this [issue](https://github.com/Kitt-AI/snowboy/issues/54) has been fixed, but we haven't published the fixed version, so you might want to try the local development version.

[2016-10-03 23:12] chenguoguo commented on #62
Please follow the discussion forum here: https://groups.google.com/a/kitt.ai/forum/#!topic/snowboy-discussion/2tgenslIm6w

People are working on it, but it's not working properly yet.

[2016-10-03 23:50] causztic commented on #63
Thanks for the tip!

I've used `./node_modules/.bin/electron-rebuild --pre-gyp-fix` and it created the version in the lib folder correctly.

[2016-10-03 23:50] #63 closed

[2016-10-04 02:06] evancohen commented on #61
@chenguoguo I would recommend republishing the linux node binary for `v1.1.0`. This won't force you to incrament the module version, but will let you hotfix the binary (this is why I built in republishing for Travis).

[2016-10-04 21:28] chenguoguo commented on #41
I'm assuming the issue has been resolved, so closing.

[2016-10-04 21:28] #41 closed

[2016-10-04 21:29] #48 closed

[2016-10-04 22:57] chenguoguo commented on #61
Republishing is done, but I don't have a ubuntu machine machine to test by hand; @nomadic-squirrel could you give it a shot and see if it works now?

[2016-10-05 20:09] chenguoguo commented on #62
I added the Java wrapper since people have interest in this. Please checkout the `swig/Java` and `examples/Java` in the `devel` branch.

Please give it a try; if it works for you I'll merge it to master. @XXLTomate

[2016-10-06 17:13] chenguoguo commented on #62
Slatroz has tested the Java binding, so I'll close this and merge it to master.

[2016-10-06 17:13] #62 closed

[2016-10-06 17:46] ignitefoundation opened #65 "IOError: [Errno Invalid sample rate] -9997 SOLVED"
Hi,
I have read all the issues on this, but it still does not work for me, I am using a Raspberry Pi 2 and have tested 4 microphones, but only 1 works with Snowboy - the PS3 EYE.

A list of all the microphones I used as follows -

1. - Samson UB1
2. - Logitech QuickCam Orbit
3. - Cheap USB microphone off Amazon

All microphones above work and record with no errors using REC temp.wav within the com

[2016-10-06 17:51] chenguoguo commented on #65
Hmm that's very wired; so you were able to use a python script with PyAudio sampling at 16000, but when you tested Snowboy it gave `IOError: [Errno Invalid sample rate] -9997`? Snowboy uses PyAudio in the script and if PyAudio works it should work. Could you paste your python script using PyAudio?

[2016-10-06 18:03] ignitefoundation commented on #65
Hi,
The following code is only a part of it but it should show how I use PyAudio -

[code]

[2016-10-06 18:13] chenguoguo commented on #65
So it seems to me that the noticeable difference is the callback function. In Snowboy we used the callback function to record audio, see the following part in the Snowboy [script](https://github.com/Kitt-AI/snowboy/blob/master/examples/Python/snowboydecoder.py):

[code]

Could you please play with the PyAudio initialization part in our script and see if you can figure out the issue? It has been wo

[2016-10-06 18:26] ignitefoundation commented on #65
Hi,
I have played with this setting and nothing changes, I add in suggestions from other posts around the net and changed the existing settings, I copied my self.audio.open in there but still had the same errors.

I am using 2016-09-23-raspbian-jessie-lite image with all things updated. I will try another Raspbian image to see what happens

[2016-10-06 18:32] chenguoguo commented on #65
OK thanks a lot @ignitefoundation ! So what really bugs me is that PyAudio works with your script but does not work with the Snowboy script, and the error message clearly comes from PyAudio. So it's more likely to be a PyAudio setting issue. Perhaps by carefully adapting the Snowboy script to your working script, we will make it work eventually, and this may solve the issue that has been around fo

[2016-10-06 18:40] ignitefoundation commented on #65
Just doing the testing with other images, I will report back soon ;-)

[2016-10-06 20:05] ignitefoundation commented on #65
Got it and you would not believe what it was. There is nothing wrong with your script, it is how we are running the python script.

Just don't put sudo in front of the command -

Wrong -
sudo python demo.py resources/alexa.umdl

Right -
 python demo.py resources/alexa.umdl

Hope this helps everyone ;-)

[2016-10-06 20:42] chenguoguo commented on #65
OMG I can't imagine that was the issue, thanks a million @ignitefoundation !!!

Regarding the script change, I was hoping the new script will work with Python3 (if you compile the Python bindings using swig/Python/Makefile with Python3), but I've only tested this on my side, and seems like no one is really using it.

Closing the issue, thanks!

[2016-10-06 20:42] #65 closed

[2016-10-07 10:57] jhoelzl opened #66 "Library Import Issues on armv7l"
Hello,

i want to run the demo script on armv7l.

So, on my Ubuntu 14.04 i go to the snowboy repository folder `lib/android/armv7a` https://github.com/Kitt-AI/snowboy/tree/master/lib/android/armv7a and run:

`gcc-4.8 -m32 -shared -o _snowboydetect.so libsnowboy-detect.a`

The i copied the file `_snowboydetect.so` to armv7l.

When i run `demo.py` on armv7l, i always get this message:

However, the

[2016-10-07 14:42] chenguoguo commented on #66
That doesn't seem the right way to do. The android version of library was prepared for Android. You should probably try the Raspberry Pi version, but that was compiled on Raspbian. You may also try the pre-compiled library for Ubuntu.

Also, to generate _snowboydetect.so, you have to use script under swig/Python. Please follow the github README page.

[2016-10-10 06:13] jhoelzl commented on #66
Hello @chenguoguo, thanks for feedback!

I also tried the Raspery Pi version, but the error remains the same.

When i run:

[code]
on Ubuntu 14.04, of course, the generated file `_snowboydetect.so` works on Ubuntu 14.04, but not on armv7l:

How should i modify the makefile in order to get a working module for armv7l?

[2016-10-10 06:27] chenguoguo commented on #66
I'm afraid we don't have a solution for now.

The Raspberry Pi library was compiled on arm processors but with Raspbian (Debian 8).

The Ubuntu library was compiled on x86_64 processors with Ubuntu 14.04.

In your case, you probably have arm processor with some other OS (what's your OS?) which we don't support.

[2016-10-10 06:29] jhoelzl commented on #66
`cat /etc/*-release` returns:

[2016-10-10 06:37] chenguoguo commented on #66
I believe we don't support that, sorry...

[2016-10-10 06:39] #66 closed

[2016-10-10 16:14] Sispheor opened #68 "TypeError: Cannot set property 'hotwordName' of undefined"
On your website https://snowboy.kitt.ai/dashboard# when trying to reccord an existing model.

[code]

[2016-10-10 16:20] chenguoguo commented on #68
Thanks a lot for the detailed log! Could you be more specific on what
hotword you were trying to create and how you were creating it (e.g.,
through what buttons)? This way I will be able to reproduce the bug and fix
it on our end.

Guoguo

On Mon, Oct 10, 2016 at 9:14 AM, Marcq Nicolas <notifications@github.com>
wrote:

[2016-10-10 16:23] Sispheor commented on #68
It append on your website, when I click on the button that looks like a microphone.
Or in the detail of the model when I click on "Reccord and download the model"

[2016-10-10 16:26] chenguoguo commented on #68
Ah thanks a lot! This was probably introduced by a recent deployment and we
didn't notice! I'll look into this.

Guoguo

On Mon, Oct 10, 2016 at 9:23 AM, Marcq Nicolas <notifications@github.com>
wrote:

[2016-10-10 18:19] chenguoguo commented on #68
It should be working now.

Guoguo

On Mon, Oct 10, 2016 at 9:26 AM, Guoguo Chen <chenguoguo06@gmail.com> wrote:

[2016-10-10 19:45] Sispheor commented on #68
Yes! Thanks!

Le 10 oct. 2016 8:19 PM, "Guoguo Chen" <notifications@github.com> a écrit :

[2016-10-10 19:53] #68 closed

[2016-10-12 20:24] eiselems opened #70 "Fix small typo in readme.md"
Misspelled Hotword API

[2016-10-12 21:02] jamesrequa opened #72 "New Hotword"
When creating a New Hotword in Snowboy, I click on "Record my voice" but nothing happens after that and "record my voice" greys out. I have tested on Raspberry Pi with Chromium browser and also MacOS with Chrome browser with the same results.

[2016-10-12 21:04] jamesrequa commented on #72
I just discovered that I needed to sign in first via Github on Snowboy website before the Hotword program works. Thanks.

[2016-10-12 21:04] #72 closed

[2016-10-13 09:40] Sispheor opened #73 "add snowboy lib to PyPI with a setup.py"
Currently, when you release a new version of Snowboy we have to get binaries file, and the python wrapper you provide and push all that stuff in our project.
It could be very useful to have a python lib with a setup.py installation and push everything on a pip repo.

[2016-10-13 18:04] chenguoguo commented on #73
Thanks for the suggestion, we'll keep that on our list. In the meanwhile, if you plan to take that responsibility and work on that, you are more than welcome to send us a pull request. Folks have worked on that route for the Node module, see here: https://github.com/Kitt-AI/snowboy/pull/52

[2016-10-13 18:55] xuchen commented on #73
I researched about it with pip install but gave up. The problem was to differentiate different architects: we have to provide binaries for RPi, Linux, Mac but not Windows. You are very welcome to give it a try!

[2016-10-13 19:04] Sispheor commented on #73
Ok I'll take a look into this.

Le 13 oct. 2016 8:55 PM, "xuchen" <notifications@github.com> a écrit :

[2016-10-14 02:38] tdg5 commented on #61
I'm running Ubuntu 16.04 with Node 6.8.0 and I can confirm that once all the dependencies are in place `node microphone.js` works on the current version of master (549fc4c7ea7e471d12b92b9c3c8c963271054de1). :tada:

[2016-10-15 16:20] alexylem opened #74 "Typo in error message from API when wav is too short"
There is a typo in the error message when the wav is too short
Using enpoint: `https://snowboy.kitt.ai/api/v1/train/`
[code]
`Hotowrd` ➡️  `Hotword`

[2016-10-15 18:15] chenguoguo commented on #74
Thanks! Fixed in the code, will be out in the next deployment.

[2016-10-15 18:15] #74 closed

[2016-10-15 18:19] chenguoguo commented on #70
Closing since fixed.

[2016-10-15 18:19] #70 closed

[2016-10-15 19:19] alexylem opened #75 "Train API responds UniversalHotword with this name already exists"
Hello,

I'm using the train API to train a personal model for hotword "jarvis".
`https://snowboy.kitt.ai/api/v1/train/`

[code]

The API responds

[code]

Although it only has 126/500 samples.
![image](https://cloud.githubusercontent.com/assets/11017174/19412764/04210236-931d-11e6-8ad9-05721048a365.png)

And even if it is a universal model, why not returning it 😄
Many thanks for your help,

[2016-10-15 21:07] chenguoguo commented on #75
Ah that piece of message is a little bit misleading; it actually means we already have a record of the universal hotword (so that in the future we can create it), and it doesn't mean that we've already trained the universal hotword model

[2016-10-15 21:10] alexylem commented on #75
Thanks for your answer. Would it be possible in that situation to get from the API the actual `.pmdl` file for that hotword? This error seems to be blocking.

[2016-10-15 21:42] chenguoguo commented on #75
how did you submit the samples? I just had a try with the hotword `snowboy` (which is also in the library) using https://github.com/Kitt-AI/snowboy/blob/master/examples/REST_API/training_service.sh and it worked.

[2016-10-15 22:06] alexylem commented on #75
I don't use your script as-is, it's integrated in the core of Jarvis program.
But I follow the same principle (curl + json data including based64 wavs).
Here is [the script](https://github.com/alexylem/jarvis/blob/master/stt_engines/snowboy/main.sh#L87).
Apart from Gender and Age-Group (non-required) I have all the information in the JSON.
Just tested to train `snowboy` and I have the same result:

[2016-10-15 22:13] alexylem commented on #75
Just used your script, I have the same result:
[code]

[2016-10-16 07:16] chenguoguo commented on #75
This does seem to be a bug when you use a language other than English. We'll try to fix. Thanks.

[2016-10-16 20:01] alexylem commented on #75
Forcing the language to `en` in my app (works fine) until this is fixed. Thanks!

[2016-10-21 21:57] williewh opened #76 "Uses 50% CPU on my raspberry pi 1"
Hi, any tips on improving the CPU usage of snowboy? I'm running it with a single pdml. Starting snowboy with python2 helps it some but it still hovers around 48% to 55% CPU Usage. I have a Wolfson audio card.

[2016-10-22 06:45] chenguoguo commented on #76
That is surprising. What is the size of your pmdl model? Have you tried USB microphones?

[2016-10-22 15:51] williewh commented on #76
The pmdl model is 10 bytes. I realized that the 50% CPU happens in a noisy environment. In a quiet room, CPU Usage is 25%. I will try a USB mic and report results.

[2016-10-22 17:40] xuchen commented on #76
This looks normal to me given a weak CPU of RPi 1.

[2016-10-22 18:14] williewh commented on #76
Okay, that's good enough for me. Thank you. Closing.

[2016-10-22 18:14] #76 closed

[2016-10-22 19:34] ds3ctor opened #77 "make fails - Ubuntu 16.10 amd64"
Any suggestions?

/usr/bin/ld: ../ext/lib/libsnowboy-detect.a(snowboy-detect.o): Relocations in generic ELF (EM: 40)
../ext/lib/libsnowboy-detect.a: error adding symbols: File in wrong format
collect2: error: ld returned 1 exit status
CMakeFiles/wakeWordAgent.dir/build.make:409: recipe for target 'wakeWordAgent' failed
make[2]: **\* [wakeWordAgent] Error 1
CMakeFiles/Makefile2:67: recipe for targe

[2016-10-22 19:40] chenguoguo commented on #76
A 25% CPU usage in quiet environment indicates high computation even without detection. Two things to check:

1. Are you using Amazon's Alexa sample application? If yes, then `ApplyFrontend(true)` is called, and the 25% CPU usage will make sense.

2. At least try a different USB microphone. I've experienced things like different audio capturing settings contributes to e.g. 10% of the CPU usage.

[2016-10-22 19:42] chenguoguo commented on #77
The library we provided to the Alexa sample application was compiled for Raspberry Pi with Raspbian (a Debian variant), so likely it won't work on your Ubuntu 16.10 with amd64 CPU.

[2016-10-22 19:48] ds3ctor commented on #77
Thanks for the quick response. Will Ubuntu amd64 be supported in the future? Or are there any workarounds?

[2016-10-22 19:55] chenguoguo commented on #77
First, you have to make sure that our Ubuntu library works on your platform. Checkout our repository and check the demos.

Second, if our library works on your platform, you can modify `https://github.com/alexa/alexa-avs-sample-app/blob/master/automated_install.sh` to use our Ubuntu libraries instead of Raspberry Pi libraries. You'll have to understand that installation script.

Finally, with a ca

[2016-10-22 20:16] ds3ctor commented on #77
Ok. I will give it a go, and update within the next day or so. Thanks!

[2016-10-23 01:35] williewh commented on #76
Along with the 50% CPU, I was getting a lot of false-positives for one word, computer. I'll experiment with the gain settings and other configs. I certainly haven't given up on snowboy, I think it's the best. However, if I want to run snowboy, a node script and mopidy simultaneously, I know I'll need speedier hardware.

[2016-10-23 02:02] chenguoguo commented on #76
Yes, also the sensitivity, that controls the tradeoff between detection rate and false alarms.

[2016-10-23 08:46] Smanar commented on #76
For information I m using a Raspberry B+, used with c++, 10ko pdml.
All the application with snowboy take around 4% to 10% CPU Usage. But generally it's under 6%.

[2016-10-24 10:10] purpleblues opened #79 "Error initializing streams or reading audio data"
In snowboydecoder.py, I have issue that

`ans = self.detector.RunDetection(str(data))`

returns -1, printing `"Error initializing streams or reading audio data"`

I compiled the _snowboydecoder.so with python3.4 on raspberry pi and ran it with python3

Input is USB webcam mic.

[2016-10-24 22:56] nyboer commented on #35
Working with Python 2.79 on C.H.I.P.
Installed all the dependencies.
Cloned the git, cd to snowboy/swig/Python and tried make. Swig threw an error.
I had to change the Makefile (right near the top) to
`SWIG := swig3.0`

For search-ability, here's the actual errors.
[code]

[2016-10-25 00:07] chenguoguo commented on #35
@nyboer hi yes you will have to link swig to your installed version (we are using swig 3.0.10).

[2016-10-25 00:14] chenguoguo commented on #79
This usually means the audio passed to the decoder was malformatted. What was your platform? Did you try this in a virtual environment? The Python3 is not well tested so I'll have to test this as well.

[2016-10-25 18:14] chenguoguo commented on #76
That is surprising. What is the size of your pmdl model? Have you tried USB
microphones?

Guoguo

On Fri, Oct 21, 2016 at 2:57 PM, williewh <notifications@github.com> wrote:

[2016-10-25 18:57] chenguoguo commented on #75
This should be fixed now! Closing the issue.

[2016-10-25 18:59] chenguoguo commented on #76
even 25% seems way too high. are you sure it's 10 bytes not 10 kilo bytes?

On Oct 22, 2016 8:51 AM, "williewh" <notifications@github.com> wrote:

[2016-10-25 19:00] alexylem commented on #75
Tested and working, thanks!

[2016-10-25 22:41] chenguoguo commented on #75
@alexylem there's a bug in the new code so I had to roll back to the old version. You may still see your reported bug. We'll deploy again tomorrow.

[2016-10-26 00:41] HumzahF opened #80 "Not recording??"
when I go on your website and click on create hotword and follow the steps and then I click on record voice it gets stuck and dosent go any further. pls help?

[2016-10-26 06:51] purpleblues commented on #79
@chenguoguo I didn't run it on virtual environment. But almost same code and same hardware environment that run on Python 2 works well.

And I used `str(data)` because RunDetection() didn't allow it to pass `bytes`. Is this might the problem?

[2016-10-26 14:41] ds3ctor commented on #77
Hi guys, I'm not having any luck with this whatsoever. Is it possible to build a library for Ubtuntu 16.10 amd64? I would be more than happy to help test it, and report back.

[2016-10-26 15:41] chenguoguo commented on #80
Were you using Chrome or Firefox? We only support Chrome and Firefox for
now. Also did you see any waveforms? If not that means your microphone is
not working.

On Tue, Oct 25, 2016 at 5:41 PM, HumzahF <notifications@github.com> wrote:

[2016-10-26 15:41] irthomasthomas commented on #77
I managed to get snowboy working on Ubuntu 14.04 but I haven't tried wiring it to Alexa yet. Did you get snowboy to build at all?

[2016-10-26 17:36] chenguoguo commented on #79
@purpleblues this will certainly case probably, because when you do `str(data)` in python 3 it will convert the data to a unicode string which will be different from the audio data.

The part I don't understand is that you said "RunDetection() didn't allow it to pass `bytes`". This indicates that the library was not compiled correctly. Could you try a virtual environment and make sure you compile

[2016-10-27 15:41] HumzahF commented on #80
Yes i was using chrome. I didnt see any wavelengths because it wont let me
go to the second step.

On Oct 26, 2016 8:42 AM, "Guoguo Chen" <notifications@github.com> wrote:

Were you using Chrome or Firefox? We only support Chrome and Firefox for
now. Also did you see any waveforms? If not that means your microphone is
not working.

On Tue, Oct 25, 2016 at 5:41 PM, HumzahF <notifications@github.com

[2016-10-27 16:47] chenguoguo commented on #80
It might be helpful if you let me know what was the hotword that you were
trying to create so that I can try to reproduce it on my side. Also, what
was your platform/OS?

Guoguo

On Thu, Oct 27, 2016 at 8:41 AM, HumzahF <notifications@github.com> wrote:

[2016-11-02 15:40] alexandregarret commented on #40
Hello @chenguoguo, could you tell me what is the common.res file ? Why this file is not generated when I download a new model via the webpage ?

Thank's
Regards

[2016-11-03 01:19] chenguoguo commented on #40
This file contains the resources we need for computation, it's different from the model, and it's included in the pre-compiled decoders. You can also find it in the github repository:

https://github.com/Kitt-AI/snowboy/blob/master/resources/common.res

[2016-11-03 14:09] alexandregarret commented on #40
@chenguoguo Thank you for your answer, is it possible to have only one detector instance for 2 hotwords ? Or each detector is linked to only one hotword (in this case what is the return value '2', corresponding to Hotword '2' detected, used for ?)

thanks

[2016-11-03 17:09] chenguoguo commented on #40
Yes that's doable.

You can follow this thread from the forum: https://groups.google.com/a/kitt.ai/forum/#!topic/snowboy-discussion/KMMkTd6ewWE

You can also check out the example for using two hotwords:https://github.com/Kitt-AI/snowboy/blob/master/examples/Python/demo2.py

[2016-11-03 18:09] BillWSY opened #81 "Missing SnowboyDetect and SetSensitivity in Ubuntu 64 library"
[code]

[2016-11-03 18:35] chenguoguo commented on #81
I guess you are using g++ 5.x. You might want to add -D_GLIBCXX_USE_CXX11_ABI=0 to your CXXFLAGS. I pushed a fix to the `devel` branch for the c++ demo.

Let me know if it works.

[2016-11-03 18:39] BillWSY commented on #81
I end up with adding ```#define _GLIBCXX_USE_CXX11_ABI 0``` in my cc. Thank you.

[2016-11-03 18:39] #81 closed

[2016-11-04 17:11] BillWSY opened #82 "Open source License"
Would you mind applying an open source license to ```snowboy/examples/C++/demo.cc``` and the rest of this repo? Otherwise, we will not be able to use it in our research project.

[2016-11-04 17:24] chenguoguo commented on #82
You can cite our README page.

The demo.cc file itself is Apache licensed. The Snowboy library is provided subject to https://github.com/Kitt-AI/snowboy#pricing-for-snowboy-models

[2016-11-07 17:13] peterGruen commented on #12
What exact position do you mean with:"
  down to the start of the start() function, then you can repeatedly call terminate() and start()!

thank you

[2016-11-07 17:41] chenguoguo commented on #12
You can move the callback function (starting from line 77) to the `start()` function as well.

[2016-11-07 18:00] peterGruen commented on #12
Thank you, nwo it works !

[2016-11-08 02:01] arilotter opened #83 "Feature Request: Timestamp for start / end of hotword detection"
If the Snowboy API returned a timestamp representing the millisecond the hotword finished, systems that take other voice input after the hotword could be modified to seamlessly recognise audio said after the hotword but before Snowboy triggers.

[2016-11-08 02:08] chenguoguo commented on #83
I'll keep this as a long term plan. In the meanwhile, you can try to estimate the length of the trigger words, which should give you a good estimate of the timestamp.

[2016-11-10 08:01] Young910512 opened #84 "What's wroing with my makefile?"
[OpenBLAS-Android/install/lib/libopenblas.a] Error 127 (ignored)
arm-linux-androideabi-g++ -O3 --sysroot=/platforms/android-17/arch-arm -shared -std=c++0x -rdynamic -I../../ -Wl,--fix-cortex-a8 -Wl,--no-warn-mismatch -Wl,--no-undefined -Wl,-z,noexecstack -Wl,-z,relro -Wl,-z,now -Wl,--warn-shared-textrel -Wl,--fatal-warnings -Wno-sign-compare -Wa,--noexecstack -Wformat -Werror=format-security -fno-

[2016-11-10 08:38] chenguoguo commented on #84
You have to set `NDKROOT`

Also, please pay attention to this comment at the top of the file

[code]

[2016-11-10 09:28] Young910512 commented on #84
Thank you for your answer, but How I can user  --stl=libc++?

[2016-11-10 09:42] Young910512 commented on #84
Thank you for your answer, and how can I use --stl=libc++ option?

[2016-11-10 14:20] chenguoguo commented on #84
See here:
https://developer.android.com/ndk/guides/standalone_toolchain.html

[2016-11-11 23:09] evancohen commented on #83
+1

This would be super useful for [sonus](https://github.com/evancohen/sonus). I've tried to prototype a buffer that uses a flag for when the hotword is detected, but I've had issues getting it to work properly because all I can do is estimate at what point in the audio stream the hotword is actually detected.

[2016-11-13 19:30] Fijvect commented on #80
@chenguoguo
I'm have the exact same problem as @HumzahF. But since he hasn't responded to you, I'll answer your questions:
I tried it on three different OSes from the browser-mode (https://snowboy.kitt.ai/dashboard).
1) Raspberry pi using Chromium
2) Windows 10 using Chrome and Firefox (latest update)
3) MAC using Chrome.

On all three I pressed the "Record my Voice" button and it turned grey with

[2016-11-13 19:50] Fijvect commented on #80
Actually I figured it out. The website should really address this however:
I was linked to the dashboard page, and tried from there, and it wouldn't work. Apparently you have to first go back to the main page (not the dashboard one), and then there will be a "Log In" button available at the top right. Once you log in, then the tools will start working.
What needs to be fixed however, is a warning

[2016-11-14 05:59] chenguoguo commented on #80
@Fijvect thanks for figuring this out and let us know. The fix is already in our `devel` branch and will be available when we do the next deployment.

[2016-11-14 07:28] briandbl commented on #84
Hi chengGuoGuo,

Now I got the following error when I compiled the snowboy on Android platform using swig

In file included from ../snowboy.cc:14:0:
../include/snowboy-detect.h:121:8: error: ‘unique_ptr’ in namespace ‘std’ does not name a template type
   std::unique_ptr<WaveHeader> wave_header_;
        ^
../include/snowboy-detect.h:122:8: error: ‘unique_ptr’ in namespace ‘std’ does not name a te

[2016-11-14 16:37] chenguoguo commented on #84
@briandbl could you show me the command how you extract the Android toolchain from Android NDK?

[2016-11-14 18:47] Robert-SZ opened #85 "TypeError: __init__() got an unexpected keyword argument 'model_str'"
I'm trying to run example demo.py with snowboy.umdl and got next error:

~/Documents/snowboy/examples/Python$ python demo.py resources/snowboy.umdl
Traceback (most recent call last):
  File "demo.py", line 31, in <module>
    detector = snowboydecoder.HotwordDetector(model, sensitivity=0.5)
  File "/home/parallels/Documents/snowboy/examples/Python/snowboydecoder.py", line 91, in __init__
    resou

[2016-11-15 02:13] briandbl commented on #84
I use the following the command to create the customized toolchains.
I use the following command format. Is it ok?

./make-standalone-.py  --arch arm   --stl=libc++  --install-dir=./snowboy_toolchain

[2016-11-15 05:04] battuashwik opened #86 "How do i reach you for commercial license and its pricing"

[2016-11-15 05:05] xuchen commented on #86
send an email to chatflow@kitt.ai

[2016-11-15 05:05] #86 closed

[2016-11-15 05:34] chenguoguo commented on #84
Maybe try to set the platform as well? Here is my command

[code]

Then you have to make sure you set the following correctly:

[code]

Let me know if this helps.

[2016-11-15 05:42] chenguoguo commented on #85
This two threads should help:

https://github.com/Kitt-AI/snowboy/issues/18
https://github.com/Kitt-AI/snowboy/issues/53

Let me know if they don't solve your issue.

[2016-11-15 08:34] briandbl commented on #84
I  follow your method. the following is my makefile and the error log. It can't find lc++_static library

=================================================================================
Makefile

# Please specify your NDK root directory here.
NDKROOT :=/home/brian/android-ndk-r11c
APILEVEL := 17

SNOWBOYDETECTSWIGITF = snowboy-detect-swig.i
SNOWBOYDETECTSWIGOBJ = snowboy-detect-swig.o
SNOWBOYDET

[2016-11-15 19:17] chenguoguo opened #87 "Detection lag with Node module"
Email from hudreous@gmail.com:

It happens pretty early for me... usually after about 6 hotword detections, the lag between the spoken word and the detection becomes around 2 seconds. I have only tried it with Node so far, since the Python example doesn't seem to work on my Ubuntu 16.04 installations and I can't seem to make the C++ example successfully.

I didn't notice any CPU or RAM increases w

[2016-11-15 22:22] chenguoguo commented on #84
It still feels like your android ndk/toolchain was not set up correctly. Let's move one step back:

1. Set `CXXFLAGS := -O3 --sysroot=/home/brian/android-ndk-r11c/platforms/android-17/arch-arm`
2. Set `LDLIBS := -L/home/brian/android-ndk-r11c/platforms/android-17/arch-arm/usr/lib -L/home/brian/android-ndk-r11c/sources/cxx-stl/llvm-libc++/libs/armeabi-v7a-hard/thumb/ -lc++_static -lgcc -lm_hard -ld

[2016-11-17 09:16] Young910512 commented on #84
Thank you very much!  it helped me fix these problems

[2016-11-17 16:08] tomster opened #88 "A64 support?"
I tried creating the swig bindings for python on a Pine64 board (running "Debian Base (3.10.102 BSP 2)" found here https://www.pine64.pro/getting-started-linux/) but I get the following error when running `make` inside `swig/Python`:

[code]

From my (limited) understanding there is simply no matching library in `lib` that match what swig expects on this platform (i tried hardcoding the `android/a

[2016-11-18 19:34] chenguoguo commented on #88
We don't have a pine64 by hand so we can't compile/test snowboy on pine64. The better chance is probably to use the rpi library instead of the ubuntu64 or android library, since rpi also uses ARM processors. Let me know if it works.

[2016-11-21 11:08] juncaofish opened #89 "Hotwords in non-english support"
Hi, are hotwords in non-english languages supported, i.e. Chinese? Or is there any workaround for this case? Thanks.

[2016-11-21 11:09] kermit-kr opened #90 "TypeError: SnowboyDetectNative is not a function"
TypeError: SnowboyDetectNative is not a function
    at new SnowboyDetect (/home/pi/smart-mirror/node_modules/sonus/node_modules/snowboy/lib/node/index.js:78:31)
    at Object.CloudSpeechRecognizer.init.CloudSpeechRecognizer.startStreaming.recognitionStream.on.Sonus.init.opts.hotwords.forEach.detector.on.csr.on.csr.on [as init] (/home/pi/smart-mirror/node_modules/sonus/index.js:82:37)
    at Objec

[2016-11-21 11:16] tomster commented on #88
hi @chenguoguo i tried the rpi library, but it did not work. Is it possible to compile the library oneself? i would be glad to test and add the support to the project or is that part closed-source?

[2016-11-21 18:10] chenguoguo commented on #89
For personal model you can do any language.

For universal model, we are focusing on English words. We can do Mandarin as well.

[2016-11-21 18:10] #89 closed

[2016-11-21 18:14] chenguoguo commented on #90
It will be more efficient if you post the issue at the smart-mirror page: https://github.com/evancohen/smart-mirror

I assume you were using Evan's smart-mirror.

[2016-11-21 18:14] #90 closed

[2016-11-21 18:17] chenguoguo commented on #88
@tomster we didn't not release the source code, and we do not have a plan to support Pine64 board at this point. So I'm afraid we are out of luck here :-(

[2016-11-23 07:42] ekampf commented on #37
@Techblogogy facing the same error...  what was your issue?

[2016-11-25 13:10] kermit-kr commented on #90
The problem was caused by the low node.js version that was fixed by viewing the link.

Thank you!

[2016-11-26 10:17] hardstylos opened #91 "Start shell script when hotword is detected"
I have everything up and running. I want to start a shell script when a hotword is detected. I have the following python "code" (which I can start using python test.py):

import os
import sys

os.system("sh ./test.sh")

How can I integrate this so it starts when I use my personal hotword?

[2016-11-26 18:04] chenguoguo commented on #91
Answering it on the forum: https://groups.google.com/a/kitt.ai/forum/#!topic/snowboy-discussion/QEZjaVYaxOQ

[2016-11-29 16:39] loukaskom commented on #41
Is the library supposed to work on Debian8? I am trying to run the demo.py and i am getting this error.
Traceback (most recent call last):
  File "demo.py", line 1, in <module>
    import snowboydecoder
  File "/home/loukas/snowboy-master/examples/Python/snowboydecoder.py", line 5, in <module>
    import snowboydetect
ImportError: No module named snowboydetect

[2016-11-29 17:40] chenguoguo commented on #41
We did not compile the library on Debian, but most likely the Ubuntu 14.04
version will work. Have you tried the pre-compiled version here:

https://s3-us-west-2.amazonaws.com/snowboy/snowboy-releases/ubuntu1404-x86_64-1.1.0.tar.bz2

On Tue, Nov 29, 2016 at 8:39 AM, loukaskom <notifications@github.com> wrote:

[2016-11-30 11:46] loukaskom commented on #85
Ok i have the same problem.
loukas@loukas:~/snowboy-feature-saas/examples/Python$ python demo.py snowboy.umdl
Traceback (most recent call last):
  File "demo.py", line 27, in <module>
    detector = snowboydecoder.HotwordDetector(model, sensitivity=0.5)
  File "/home/loukas/snowboy-feature-saas/examples/Python/snowboydecoder.py", line 91, in __init__
    resource_filename=resource.encode(), model_

[2016-11-30 18:07] chenguoguo commented on #85
@loukaskom What if you use the pre-compiled version for Ubuntu 14.04? See here:

https://s3-us-west-2.amazonaws.com/snowboy/snowboy-releases/ubuntu1404-x86_64-1.1.0.tar.bz2

The issue could be that we compiled the Snowboy library for Ubuntu, and you run the swig compilation on Debian. I haven't really tried that.

[2016-12-02 12:58] loukaskom opened #92 "IO Error"
Hello,

i think there is no mention about this error. I am running the python demo,py and as resources i use the universal model snowboy and alexa. I get this error:

IOError: [Errno Invalid input device (no default output device)] -9996

ALSA lib confmisc.c:768:(parse_card) cannot find card '0'
ALSA lib conf.c:4292:(_snd_config_evaluate) function snd_func_card_driver returned error: No such file

[2016-12-02 13:51] loukaskom commented on #92
I think the problem is with the microphone i have. I am not 100% sure, i am going to check it in another computer.

[2016-12-02 17:53] chenguoguo commented on #92
It might be similar to this thread:
https://github.com/Kitt-AI/snowboy/issues/9

Search for 9996 on that page.

On Fri, Dec 2, 2016 at 5:51 AM, loukaskom <notifications@github.com> wrote:

[2016-12-03 11:41] DeusRa commented on #87
Hello,  I've got a similar problem.
I'm using Raspberry Pi 2 Model B with Node v4. 6.2 (arm7).
But in my case RAM is increasing and snowboy stops detecting (actually freezing) everytime RaspPi reaches 137000 KB of RAM.
When executed my node snowboy. js, ps aux shows it uses around 126M of memory and it increases quite fast depending on noises but it freezes everytime when 138M is reached. My free

[2016-12-03 21:41] evancohen commented on #87
@DeusRa you're likely experiencing something *slightly* different. Your issue is likely due to a recent change in the recording library that we're using:
gillesdemey/node-record-lpcm16#15

I think we've found a viable solution, so hopefully this will be fixed shortly.

[2016-12-05 22:28] chenguoguo commented on #35
I believe the issue has been resolved, so closing this. Critical points are:

1. Make sure swig 3.0.10 is used in the Makefile
2. Make sure python-config in the Makefile is linked to your python3 instead of python2

[2016-12-05 22:28] #35 closed

[2016-12-05 22:31] chenguoguo commented on #61
Closing this since the issue has been resolved.

[2016-12-05 22:31] #61 closed

[2016-12-05 22:31] chenguoguo commented on #75
Closing as the issue has been resolved.

[2016-12-05 22:31] #75 closed

[2016-12-05 22:34] chenguoguo commented on #77
Closing this since it's been there for a while and we are not getting responses. Please re-open if the issue has not been resolved, and you are still interested in finding out the solution.

[2016-12-05 22:34] #77 closed

[2016-12-05 22:37] chenguoguo commented on #79
Cross reference:

https://github.com/Kitt-AI/snowboy/issues/35

https://groups.google.com/a/kitt.ai/forum/#!topic/snowboy-discussion/3G0fobzUw-0

[2016-12-05 22:37] #79 closed

[2016-12-05 22:38] #82 closed

[2016-12-05 22:39] #84 closed

[2016-12-05 22:40] #91 closed

[2016-12-06 09:01] tomster commented on #88
@chenguoguo ok, thanks for clearing this up!

[2016-12-11 02:16] mevatron commented on #87
@chenguoguo I'm also seeing a similar problem. I've upgraded `node-record-lpcm16` to 0.1.8, but it definitely seems to slow down from ~1 second between detections to ~4 seconds between detections. I'm running Node.js with Ubuntu 14.04.

[2016-12-11 03:39] chenguoguo commented on #87
thanks for reporting @mevatron . @evancohen is working on a fix, i'll give it a shot when i get time too

[2016-12-13 22:54] cjolif commented on #14
I've got similar error on Raspberry with the C++ sample.

[code]

and nothing works.

ALSA description of my microphone is:

[code]

[2016-12-13 23:02] chenguoguo commented on #14
Snowboy requires a sample rate of 16k, it could be that the 16k sampling rate is not supported by your microphone. If you have other microphones by hand, you can give them a try.

[2016-12-28 19:09] andrew-veresov opened #94 "Error in demo.py on Raspberry Pi"
Hi!

I get an error when I run following command on RPi:

[code]

Traceback (most recent call last):
  File "demo.py", line 1, in <module>
    import snowboydecoder
  File "/home/pirate/rpi-arm-raspbian-8.0-1.1.0/snowboydecoder.py", line 5, in <module>
    import snowboydetect
  File "/home/pirate/rpi-arm-raspbian-8.0-1.1.0/snowboydetect.py", line 28, in <module>
    _snowboydetect = swig_import_h

[2016-12-29 05:51] evancohen commented on #94
Chances are you are missing a dependency
[code]
Give that a shot and then run it again.

[2016-12-29 14:32] sunsgs opened #95 "Implement with node"
Hi there, i would like to run a file with node always listening and do something when you say the wake up word. Is that possible ?

[2016-12-29 14:34] MexXxo commented on #95
yes

[2016-12-29 14:34] sunsgs commented on #95
any guide?

[2016-12-29 19:32] renekliment commented on #73
@Sispheor Hello. Any progress on this? This would make our lives easier over at @alexa-pi and probably to many other people :)

[2016-12-30 01:21] chenguoguo commented on #95
@sunsgs you can follow the README and use the example here: https://github.com/Kitt-AI/snowboy/blob/master/examples/Node/microphone.js

One caveat: https://github.com/Kitt-AI/snowboy/issues/87

[2016-12-30 04:31] evancohen commented on #95
@sunsgs you might also want to check out [Sonus](https://github.com/evancohen/sonus).

[2016-12-30 04:34] evancohen commented on #87
I may have a fix for this now, but I'll need to do some more testing evancohen/sonus#27
The issues is almost certainly with @google-cloud/speech (and/or its gRPC dependency)

[2016-12-30 11:11] MexXxo commented on #95
@sunsgs probably Sonus will be the right choice, as it covers a lot of things.

[2016-12-30 18:14] andrew-veresov commented on #94
Thank you that helped!

also I installed (don't know do I needed it really)
[code]
and added my user to the audio group:
[code]

[2016-12-30 18:14] #94 closed

[2016-12-30 21:46] #95 closed

[2016-12-30 21:46] #92 closed

[2016-12-30 21:47] #85 closed

[2016-12-30 21:48] chenguoguo commented on #80
We deployed the fix.

[2016-12-30 21:48] #80 closed

[2016-12-30 21:49] #40 closed

[2016-12-31 00:36] jwhite commented on #1
I don't think is closed.  This issue is related to continuous detection using a buffer.  Alexa-Pi only uses the hotword <ding> record method at this time as far as I can tell.

[2016-12-31 00:48] chenguoguo commented on #1
OK re-open it. What I suggested above should still stand.

[2016-12-31 20:41] mslinn opened #98 "Javascript Implementation of Snowboy"
A version of Snowboy that could run in most popular web browsers would be really great!

[2017-01-01 22:21] kskalski opened #99 "Provide C++11 ABI style binary of libsnowboy-detect.a"
When I compile with GCC 5 I get
speech.cc:(.text+0x4ec): undefined reference to `snowboy::SnowboyDetect::SnowboyDetect(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&)'
speech.cc:(.text+0x500): undefined reference to `snowboy::SnowboyDetect::SetSensitivity(std::__cxx11::ba

[2017-01-02 01:09] chenguoguo commented on #99
I'll leave this up for a while. I'm a little bit reluctant to move everything to gcc 5.1 or above.

I haven't tried compiling with another library compiled with GLIBCXX_USE_CXX11_ABI set to 1. What happens if you set -D_GLIBCXX_USE_CXX11_ABI=0 when you compile your binary?

[2017-01-02 11:27] kskalski commented on #99
My exact problem is that libprotobuf 3.0.0 on raspbian is compiled with gcc 5 and contains some symbols, which are incompatible when using old ABI. For reference, there is a page detailing compatibility and how to check if given lib is likely to have problems: https://gcc.gnu.org/wiki/Cxx11AbiCompatibility

My fallback is to just recompile it from sources for my project and don't use the OS lib.

[2017-01-02 20:18] chenguoguo commented on #99
`GLIBCXX_USE_CXX11_ABI=1` is a way to go, yes. But I'd like to take it slowly, after full checks. Don't want to break people's existing setups.

[2017-01-02 21:46] kskalski commented on #99
To be clear - I think in foreseeable future it would be best to have two
versions of the library (yeah, I guess it should apply also to other
architectures, so basically doubling the number of builds): compiled with
GLIBCXX_USE_CXX11_ABI=0 and with GLIBCXX_USE_CXX11_ABI=1
I imagine basically new files like lib/rpi/snowboy-detect-cxx11.a would be
added

The only way to avoid it is to not expose any

[2017-01-03 08:50] pytrisss opened #100 "links in examples"
Hi guys,

I'm playing with snowboy and alexa and I still can't get it to work. So I wanted to debug using your python examples, but they seem a little broken to me.

I go to the folder with the examples and in python console I do this:
`>>> import snowboydecoder
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "snowboydecoder.py", line 5, in <module>
    import snowb

[2017-01-03 17:20] chenguoguo commented on #100
Hi, if you want to use the example in the repository, you have to go to `swig/Python/` and compile the library for Python through swig. We have a Makefile there.

Alternatively, you can download our pre-compiled Python demo from here: https://snowboy.kitt.ai/docs (search for download)

[2017-01-04 08:32] pytrisss commented on #100
I thought I missed something. Thank you!

[2017-01-04 08:32] #100 closed

[2017-01-05 19:00] Nixellion commented on #98
I'll +1 to this issue. It would definitely be awesome to have some front-end javascript based hotword detection system. If i'm correct snowboy and sonus both require node.js and other server side stuff? So basically you can build a standalone Alexa-like hardware tool running Snowboy to detect hotwords from one microphone input (well, I know you can connect many mics and mix them into one channel,

[2017-01-05 19:09] chenguoguo commented on #98
It's not impossible to turn a C++ library/binary into javascript, e.g., I've done this for `sox` with `Emscripten`.

For Snowboy, however, there will be a lot of difficulties. E.g., how can we turn the CBLAS functions we use in Snowboy into Javascript? Also, Javascript basically means open sourcing it (well I mean the source code not just the library), so it's also a decision to make on our side..

[2017-01-05 20:31] mslinn commented on #98
"You can use f2c to convert the BLAS/LAPACK code to c and then it
compiles straightforwardly with emscripten... The GNU Scientific Library
has a c implementation of BLAS, as well as a whole load of other useful
stuff, and it also compiles well with emscripten"
https://groups.google.com/d/msg/emscripten-discuss/4Qt1OXKCKrk/0ETZBsbFVxwJ

Do not confuse open source licensing with source readability.

[2017-01-05 20:44] chenguoguo commented on #98
Thanks @mslinn for the detailed writeup! We do have algorithms that we don't want to release to the public yet. If it's just a implementation of something well known, then as you suggested licensing should solve the issue. That's why I said "it's also a decision to make on our side".

[2017-01-05 21:09] mslinn commented on #98
A JS obfuscator might help. Yes, obfuscators can be cracked. I believe your existing code is equally subject to reverse engineering. Make it easy to keep regular folk honest. Those bent on criminal behavior won't be deterred from hacking your existing product.

[2017-01-06 05:58] zsdonghao opened #101 "ImportError: dynamic module does not define init function (PyInit__snowboydetect)"
I am using Macbook, snowboy works well with Python2.
But I get error with Python3 on Quick Start for Python Demo.
[code]
Anyone have idea about that?

[2017-01-06 17:08] chenguoguo commented on #101
Likely you used the python-config from python2, see the post here:

https://groups.google.com/a/kitt.ai/forum/#!topic/snowboy-discussion/3G0fobzUw-0

[2017-01-06 23:37] evancohen commented on #98
@chenguoguo I'd be very willing to help with this if you choose to take that route :)

[2017-01-06 23:52] chenguoguo commented on #98
@evancohen I'm seriously considering this, but no decision yet :-) so I'll leave this up for a while.

CBLAS functions like sgemm usually require quite some optimization at assembly code level, and generic implementations of the those functions can be very slow. So I'm also not sure how this will turn out.

[2017-01-07 00:19] evancohen commented on #98
[Weblas](https://github.com/waylonflinn/weblas) claims to have "performance [comparable to native](https://github.com/waylonflinn/weblas/wiki)". That might be a good place to start. Having a truly cross-platform version of snowboy would be amazing!

Also, I'm just throwing this out there because I'm not sure how it handles libraries like CBLAS, but another option would be to use a [Native Client](

[2017-01-08 02:01] pepperkick opened #102 "Nodejs: undefined symbol: cblas_sdot"
I have this issue with node whenever snowby tries to detect something.

```nodejs: symbol lookup error: /mnt/f/Projects/Baymax/node_modules/snowboy/lib/node/binding/Release/node-v51-linux-x64/snowboy.node: undefined symbol: cblas_sdot```

I already tried the solutions of 2 issues with same problem, but it still shows me this error.

Fresh Windows Bash Ubuntu 16.04
Packages installed: nodejs, npm,

[2017-01-08 03:44] evancohen commented on #102
Typically those errors come from missing dependencies, but since you have them installed already, it's possible your PATH is missing something. Have you tried building the module locally?
[code]

[2017-01-08 03:56] pepperkick commented on #102
Thanks for quick response!

Here's my PATH variable, don't what should be there for snowboy
```PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin```

```npm install snowboy --build-from-source```
Still gives the same error.

Here's a snippet of my code if it helps (and forgot to write it)
[code]

[2017-01-08 10:30] rickybrent commented on #77
I ran into the same issue -- I was able to get it working it with the information here (thank you!) and on this other ticket:
https://github.com/Kitt-AI/snowboy/issues/81

For Alexa, you'll also need to remove Sensory, as it does not check the OS variable and will keep trying to use a library for the arm architecture. (I made a fork I'll probably never update again here if anyone is interested: ht

[2017-01-08 18:07] algeroth-jeedom opened #103 "Problem with python swig compile"
Hi !

This the log when make on swig/python

make: python-config: commande introuvable
make: python-config: commande introuvable
g++  -I../../ -O3 -fPIC -D_GLIBCXX_USE_CXX11_ABI=0 -std=c++0x -c snowboy-detect-swig.cc
snowboy-detect-swig.cc:157:21: fatal error: Python.h: Aucun fichier ou dossier de ce type
compilation terminated.
Makefile:47: recipe for target 'snowboy-detect-swig.o' failed
make: *

[2017-01-08 18:28] chenguoguo commented on #77
Awesome! Thanks a lot for the info @rickybrent!

[2017-01-08 18:32] chenguoguo commented on #103
It seems like python-config is not installed on your system.

You can try `sudo apt-get install python-dev` on your system (if it's ubuntu like system) or search on google how to install python-config on your system.

[2017-01-09 10:43] pepperkick commented on #102
Update

So after finding no solution I tried a complete fresh Debian through DigitalOcean droplet and here is a new issue I get while I start.

[code]

Line at admintools.js:5
```const snowboy = require('snowboy');```

I tried both of this
```npm install snowboy --build-from-source```
```sudo apt-get install libmagic-dev libatlas-base-dev```

Nodejs : 7.3.0
NPM    : 3.10.10

[2017-01-09 16:54] chenguoguo commented on #102
@evancohen can correct me, but we only build Snowboy for Node 4, 5, 6, so that might be the issue. We will add Node 7 support in the future release. In the meanwhile, you can also try to build from the Snowboy repository: https://github.com/Kitt-AI/snowboy

[2017-01-09 18:22] BillWSY commented on #99
Our solution was to build a wrapper class that only uses old C types. The first line of the .cc file is ```#define _GLIBCXX_USE_CXX11_ABI 0```, so it can call Snowboy correctly. The rest of the system use char* to pass the parameters.

[2017-01-09 18:32] kskalski commented on #99
Ah, that's smart, so the binary can be linked as long calls to
snowboy's class are made within block having _GLIBCXX_USE_CXX11_ABI 0
defined. I will try that out, thanks!

[2017-01-09 18:45] pepperkick commented on #102
@evancohen Thanks! v7 was the issue (should have mentioned that in first post, sorry). Downgrading to v6.9.4 fixed the error and detects the hotword!

[2017-01-09 18:45] #102 closed

[2017-01-09 23:50] BillWSY commented on #99
In fact, the <string> library would use the old STL namespace when _GLIBCXX_USE_CXX11_ABI is defined as 0. So make sure it is defined to 0 before including <string>, directly and indirectly.

[2017-01-10 13:02] kskalski commented on #99
It worked. In fact I guess if the library provided const char* variant for
snowboy::SnowboyDetect constructor and for SetSensitivity method it would
all work fine without a wrapper or a different build of lib.​

[2017-01-14 12:51] OceanCoding opened #104 "[Python] swig_import_helper() (snowboydetect.py line 28) Error"
Hey,
I am new to GitHub and I am new to Snowboy. I am trying to get `snowboydecoder.py` to work with my project, for this, I have installed `sox`, `swig` and `pyaudio` via `homebrew` (I am on OS X 10.12.11) and `pip`.
But when `snowboydecoder.py` tries to import `snowboydetect.py`, I do get this error:

The `_snowboydetect.so` file is in the same directory as `snowboydecoder.py` and `snowboydetect

[2017-01-14 14:45] jello2545 opened #105 "How to break loop after callbacks ?"
Hi there,

I'm not much of a programmer here. Using snowboy with the Python script, i'm trying to figure out what I need to do in order to break the main loop only after the hotword has run its main callbacks:

callbacks = [lambda: subprocess.call("perl /home/me/script.pl", shell=True)]

And once the script.pl (script that basically do some checks) is done, I just want it to break its main loop an

[2017-01-14 15:04] algeroth-jeedom commented on #103
hi !
thanks it's work

but on compiled fil i don't have the file snowboydecoder.py ...
I've only snowboydetect.py

DEBUG: models=alexa,jarvisse,snowboy
Traceback (most recent call last):
  File "stt_engines/snowboy/main.py", line 1, in <module>
    import snowboydecoder
ImportError: No module named snowboydecoder

thanks

[2017-01-14 19:45] zsdonghao commented on #101
@chenguoguo Thank you so much let me have a try ~~

[2017-01-14 23:56] chenguoguo commented on #103
The file is here: https://github.com/Kitt-AI/snowboy/blob/master/examples/Python/snowboydecoder.py

[2017-01-14 23:58] chenguoguo commented on #104
Hi, you have to compile it using swig, see the directory here: https://github.com/Kitt-AI/snowboy/tree/master/swig/Python

Or you can use the pre-compiled version from the documentation: http://docs.kitt.ai/snowboy/#downloads

[2017-01-15 00:03] chenguoguo commented on #105
See here: https://github.com/Kitt-AI/snowboy/blob/master/examples/Python/snowboydecoder.py#L172

After detection, you call the callback(). You can add one more line to break the while loop.

[2017-01-15 08:38] algeroth-jeedom commented on #103
Ok thanks it's the same for all arm platform ? no deed to compile anything else ?

[2017-01-15 08:43] algeroth-jeedom commented on #103
I have this error
File "/home/snowboy/snowboydecoder.py", line 91, in init
TypeError: init() got an unexpected keyword argument 'model_str'

[2017-01-15 12:14] OceanCoding commented on #104
Alright, I knew that I missed something. Thanks for your quick help. Have a great day :)

[2017-01-15 18:55] #104 closed

[2017-01-15 18:58] chenguoguo commented on #103
Yes the snowboydecoder.py is just a wrapper and it should work for all the platforms. The only part you have to compile (in your case) is things under `swig/Python`

Are you using Python3? If you are using Python3 you have to make sure your python-config also comes from Python3 instead of Python2.

[2017-01-16 14:55] sunsgs commented on #95
@MexXxo is sonus able to answer my voice questions?

[2017-01-16 15:36] mrunalpatekar opened #106 "Problem with Snowboy Hot word detection for Android"
Hi, I am trying to develop an Android app, in which i want the ap to get triggered when I say some keyword.

I am following
[code]
So in the MakeFile i have done the following changes:
[code]
I downloaded NDK  r11c from the NDK website as a zip file, and stored it on the desktop. And i gave the link of the "android-ndk_install" in the makefile.
I am getting the following error:

[code]

I am not s

[2017-01-16 18:11] algeroth-jeedom commented on #103
i think it is good ? python-configparser (3.3.0r2-2) ...

[2017-01-16 19:49] mrunalpatekar commented on #106
Can I get any working example of Snowboy with Android. @BillWSY

[2017-01-16 21:06] BillWSY commented on #106
I think after my PR #93 you should be able to just "make" to get the wrapper, without changing the Makefile or download the NDK (there is a script does this for you).

[2017-01-17 01:40] chenguoguo commented on #106
@mrunalpatekar, as @BillWSY said you should be able to compile Snowboy for Android using the latest Makefile.

@BillWSY in the meanwhile, if you have some simple examples of using Snowboy on Android, and you are open to share them with others, I'd be very happy to check them in under `examples/Android`. I think people will really appreciate this kind of examples :-)

[2017-01-17 01:41] mrunalpatekar commented on #106
Yes. Thank you

On Jan 16, 2017 8:40 PM, "Guoguo Chen" <notifications@github.com> wrote:

[2017-01-17 01:45] chenguoguo commented on #103
@algeroth-jeedom so when you run `python-config --includes`, it gives you things for Python3 instead of Python2, and you are using Python3 on your system? Sometimes it's possible that you have both Python2 and Python3 and they are somehow mixed together.

[2017-01-17 07:23] Pine-A64 commented on #88
@chenguoguo Hi I am TL Lim, PINE64 founder. If you still interest to receive PINE A64 board to compile/test snowboy, I am happy to provide one.

[2017-01-17 17:15] chenguoguo commented on #88
@Pine-A64 hey good to see you here! Sure if we can compile/test Snowboy on Pine-A64, we can definitely provide a library for it!

[2017-01-17 17:23] Pine-A64 commented on #88
@Chen, Please provide your shipping address and I will ship out one Pine
A64 1GB board to you. My email address is tllim@pine64.org

On 1/17/2017 9:15 AM, Guoguo Chen wrote:

[2017-01-18 14:41] tbass134 opened #107 "Stop detection when hotword is found in Node"
Forgive me if this a simple answer, but I'm looking to find a way to stop the detection service after a hotword is detected.

In the python examples using detector.terminate() terminates the service. However, I don't see a way to do the same in Node.js

Here is my JS implementation so far.
[code]

[2017-01-18 17:49] chenguoguo commented on #107
You can use a combination of `mic.pause()`, `mic.resume()` or `record.stop()`

[2017-01-18 18:19] tbass134 commented on #107
awesome thank you!

[2017-01-18 19:01] tbass134 commented on #12
forgive me for bringing this up again, but I am unable to get this working.
If i move the frames_per_buffer and stream_callback to the start() function, no hotwords are detected.
Here's the init of HotwordDetector
[code]
and here is start method
[code]
the audio_callback method is
[code]

[2017-01-19 07:22] evancohen commented on #107
@tbass134 for a complete implementation with streaming check out https://github.com/evancohen/sonus

[2017-01-19 07:30] evancohen commented on #87
Ok. I think I *finally* figured out what is going on here, not by understanding what the issue is, but by finding what appears to be the solution: Don't use sox. Instead, use arecord.

https://github.com/evancohen/sonus/pull/30

With this change I've seen ~2-3x performance boost in detection using the node library on the Pi.

@telarium and @mevatron can you test the latest version of Sonus and use

[2017-01-19 08:09] chanffdavid opened #108 "libsnowboy-detect.a has error on Debian 8 AMD 64 with AVS sample project"
My VM installation
Linux ddff 3.16.0-4-amd64 #1 SMP Debian 3.16.39-1 (2016-12-30) x86_64 GNU/Linux

Error log due to setup https://github.com/alexa/alexa-avs-sample-app

Scanning dependencies of target wakeWordAgent
[  7%] [ 15%] [ 23%] [ 30%] Building CXX object CMakeFiles/wakeWordAgent.dir/PortAudioWrapper.cpp.o
Building CXX object CMakeFiles/wakeWordAgent.dir/SensoryWakeWordEngine.cpp.o
Buildin

[2017-01-19 14:57] tbass134 commented on #107
thanks @evancohen i'll take a look

[2017-01-19 17:18] chenguoguo commented on #108
What's your platform? By default the wake word agent uses the library we compiled for Raspberry Pi which has ARM processors. You can play with our other library.

BTW there's a bug in the frontend processing part in our library, it stopped working couple of weeks back, so you'll likely see quite a performance degradation for the current version. We will update the library tomorrow.

[2017-01-19 20:00] chenguoguo commented on #12
@tbass134 you misunderstood it...

What you should do:
1. First delete the following code block from the `__init__` function
[code]

2. Then add the same code block to the start function
[code]

Then you can call `terminate` and `start` alternatively.

[2017-01-20 14:13] tbass134 commented on #12
ah thank you @chenguoguo ! sorry i misunderstood your initial fix.

[2017-01-20 17:09] infernusdomoso opened #109 "Save stream data as wav file?"
I'm pretty new with audio data, and I'm trying to either have the software break and release the microphone when the wake word is heard, so the audio can be recorded and saved, or maybe easier, start saving the stream directly. I've tried using the wave library to save the data as a wav file but it's all garbled noise, so I'm thinking the 'data' object that is the stream audio is not in the right

[2017-01-20 17:13] chenguoguo commented on #109
You can write whatever you send to the `RunDetection` function to a file, that's the raw audio file. You can then use sox to turn it into a wave file with header, e.g., by using the following command:

[code]

where audio.raw is what you write to the disk.

[2017-01-22 04:45] s-ramirez commented on #56
I'm currently getting this same error on:

https://snowboy-release-node.s3-us-west-2.amazonaws.com/snowboy/v1.1.0/Release/snowboy-v1.1.0-node-v51-linux-arm.tar.gz

[2017-01-22 07:29] chenguoguo commented on #56
@s-ramirez Hi, we only compiled Snowboy for Node 4, 5 and 6, most likely you have a higher version. For the future release, we will try to support the new node versions.

[2017-01-22 14:13] infernusdomoso commented on #109
Awesome, thanks. One more question - how do I extend the amount of data that is sent to RunDetection? I saved the data to disk and converted it with sox, but it's about half a second of my voice - I need to make the buffer larger. I've tried a few things and nothing seems to work.

[2017-01-22 15:01] infernusdomoso commented on #109
Nevermind, figured it out. I added a second ringbuffer object that can grow to an unlimited size, then I set a recording flag and it keeps that data, I sleep inside the callback function then save the raw data to disk to process. Thanks for the info on the sox command.

[2017-01-22 15:01] #109 closed

[2017-01-23 14:56] #107 closed

[2017-01-28 23:14] EricJones89 opened #114 "Alsa jack_control issue"
I have been trying to get this set up for a few days now and have hit a roadblock. I am fairly new to raspberry pi, so some things might be a little off. I have tried following the steps in the tutorial step by step. On my mac I was able to get everything to work, on my pi I am running into an issue. I am using a ps3 eye as suggested.

What I have gotten to work:
I can record from the eye and have

[2017-01-29 00:50] evancohen commented on #114
Usually PulseAudio simplifies audio head-scratching, but in the case of the Pi I've found that it's actually a bit of a pain. It looks to me like it might actually be working and that all of those "errors" are actually juts warnings, because it isn't crashing out:
[code]
I would recommend saying the hotword after all of that dumps to the console to see if it's working.

You also might want to take

[2017-01-29 22:20] EricJones89 commented on #114
Yeah, I have tried saying the hotword anyway and pretty much every idea on #45. The part that seems to be hanging me up is not being able to start jack_control. All of the solutions that I have found involve getting that to start. Seems odd to me that I have followed the tutorial to the T. I'm hoping someone has ran into this issue on the Pi.

[2017-01-29 23:37] evancohen commented on #114
It seems that someone had success manually starting both PulseAudio and the JackControl:

https://github.com/evancohen/smart-mirror/issues/407#issuecomment-253717164

If that doesn't help I suggest looking at some other issues related to PulseAudio and Jack server on that repository.

[2017-01-30 09:58] nshmyrev commented on #114
There are some recommendations in the internet to install jack to deal with extra pyaudio output. Actually they are wrong. Jack is not a default sound server and jack installation causes problems. Messages dumped by pyaudio are not errors, they just indicate that system tries to access jack and fails.

To deal with error you need to configure pulseaudio or at least alsa properly. Some advises here

[2017-01-30 10:25] amitkumarsharma008 commented on #106
Hi All,
For Android integration, I am able to build the file "libsnowboy-detect-android.so" using the Makefile.
It generated two folders "java" and "jniLibs". I have copied these two folders to my app project.

In my java file,
public class snowboy {

    static {
        System.loadLibrary("libsnowboy-detect-android");
    }
}

This is giving the below error -
01-30 15:33:25.612 25269-25269/hubbl

[2017-01-30 17:22] chenguoguo commented on #106
You should probably use something like:

[code]

I do have an Android example in preparation. It's working but it's not ready for release yet.

[2017-02-06 18:55] tb0hdan opened #116 "Support for RHEL-bases systems"
Snowboy is not usable on RHEL-bases systems (tested on Centos 7 x86_64), both binary form located at https://s3-us-west-2.amazonaws.com/snowboy/snowboy-releases/ubuntu1404-x86_64-1.1.0.tar.bz2 as well as github/swig one:

`
[vagrant@localhost Python]$ make
g++ -I../../ -O3 -fPIC -D_GLIBCXX_USE_CXX11_ABI=0 -std=c++0x  -shared snowboy-detect-swig.o \
../..//lib/ubuntu64/libsnowboy-detect.a -lpthread

[2017-02-06 18:57] tb0hdan commented on #116
Please note that Atlas is installed (including devel package)

[2017-02-06 18:58] tb0hdan commented on #116
I've used following command to start Centos 7 box:

`
 vagrant init centos/7; vagrant up --provider virtualbox
`

[2017-02-06 18:59] tb0hdan commented on #116
There's similar issue: https://github.com/dmlc/mxnet/issues/1442

[2017-02-06 23:55] dolanmiu opened #117 "npm install doesn't work on node 7.x.x"
I have `node 7.x.x`, it gives the following error. To fix, I reverted it to `6.9.1`. Works great now! But please fix this for `node 7.x.x`:

[code]

[2017-02-07 00:22] duoduo999 opened #118 "How to specify recording device with python?"
Hi,

I'm playing with Matrix Creator and snowboy. MC has a 8 mic array which maps to 9 input devices (the 9th is a synthesized one):

arecord -L
...
mic_channel0
mic_channel1
mic_channel2
mic_channel3
mic_channel4
mic_channel5
mic_channel6
mic_channel7
mic_channel8

I can record with arecord with the "--device mic_channelN" argument, however I don't know how to pass in this information when creati

[2017-02-07 00:23] duoduo999 commented on #118
Btw, I'm running it on  raspberry Pi 3 with latest raspbian.

[2017-02-07 00:47] chenguoguo commented on #117
We didn't compile it for node 7.x.x. We will try to include it in the next release.

[2017-02-07 01:04] chenguoguo commented on #118
We haven't played with Matrix Creator, but let's try to sort it out. We will appreciate your feedback as well.

I assume the `synthesized` is the one that after beamforming (or anything related to microphone array processing), if that is the case, then Snowboy should only use that `synthesized` channel. What you have to do is to specify the device when start PyAudio.

You have to modify here:
http

[2017-02-07 02:11] chenguoguo commented on #116
We haven't worked on RHEL-based systems, so not sure why it's not able to load ATLAS. You could try to use OpenBLAS instead. Perhaps someone else with more knowledge can jump in?

[2017-02-07 03:41] evancohen commented on #117
That's a bit strange, `nan` is a devDependency of `node-gyp` so it should get picked up. I'm guessing the issue is there. In the meantime if you really want to use v7.x can build it yourself.

Install native deps
[code]
Install snowboy to your node project
[code]

I'll send a PR to programmatically publish prebuilt binaries for Node 7.x (guessing it will only be 1 line)

[2017-02-07 13:29] duoduo999 commented on #118
Thanks for the prompt response! Yes, you're right the synthesized channel is for beamforming.

Actually after messing around with alsa configuration I seem to have made the MC input device as default device, however now stuck with a problem with PyAudio. Either with snowboydemo or with standalone simple PyAudio program, I got crash like:

ALSA lib pcm_file.c:358:(snd_pcm_file_write_bytes) write fa

[2017-02-07 16:56] chenguoguo commented on #118
Yes as long as you can pipe the desired audio (16000 sampling rate, signal channel, 16 bit signed integer) to Snowboy it should work.

[2017-02-08 01:02] duoduo999 commented on #118
Got it working with arecord piping :). Thanks a lot for helping!

[2017-02-08 02:10] chenguoguo commented on #118
Awesome! BTW, if you think it's worth doing, you are could add an example to `examples/Python/` and show people how to use arecord pipe instead of PyAudio. This should help a lot for those who are struggling with PortAudio on Linux systems.

[2017-02-08 02:41] duoduo999 commented on #118
It'll be my pleasure. I'll send a PR today or tomorrow.

[2017-02-10 12:17] patrickjquinn opened #121 "Snowboy iOS demo is...lacking."
I know there is the aurioTouch demo showing how snowboy is implemented on iOS but given the size of that boilerplate project its almost inaccessible (Was there special compiler configs used for this? which libc library is the right one to use etc).

Given the fact support for iOS exists can there be a clearly defined set a docs or maybe even a very small demo project which contains an example of s

[2017-02-10 17:19] chenguoguo commented on #121
We were hoping to add demos for iOS and Android, but have been too busy with other stuff... We may have to leave this up for a while. In the meanwhile, any PRs on those demos are welcome!

[2017-02-10 17:35] patrickjquinn commented on #121
I've been attempting to put together a example application for snowboy with the native AVAudioRecorder class in the hopes of making a PR, but i've been unable to due to libc compiler issues. If i can get that working i'll create a proper Obj-C wrapper for it.

In terms of Android, this client for one of my project, P-Brain (Built by the awesome timestableford) https://github.com/timstableford/P-Br

[2017-02-10 17:46] chenguoguo commented on #121
Could you be more specific about your "libc compiler issues"? I'm not an expert in iOS but if there is anything we can improve on the Snowboy side to make the process easier for you, we are happy to do that.

[2017-02-11 18:01] Stan92 commented on #117
Hi,
When do expect the next release?
Just to know if I have to downgrade my node.js version.
Thanks

[2017-02-12 04:44] dustinblackman opened #122 "Golang Bindings"
[Golang](https://golang.org/) bindings and a demo would be awesome for the Go community as something as high quality as snowboy doesn't quite exist. I'd be more then happy to take on the challenge myself if I can be pointed in the right direction.

[2017-02-13 02:03] chenguoguo commented on #122
We haven't really played with Go, but it seems doable, see the swig documentation here: http://www.swig.org/Doc2.0/Go.html

Normally we use swig to convert the Snowboy library into the target language, see the example for Python here: https://github.com/Kitt-AI/snowboy/tree/master/swig/Python, or the example for Java here: https://github.com/Kitt-AI/snowboy/tree/master/swig/Java

It will be great

[2017-02-13 02:04] chenguoguo commented on #117
Ah sorry I forgot about this thread. Evan already has the PR, I'll test and merge next week.

[2017-02-13 16:55] grimlockrocks commented on #121
I am using Xcode 8 + Swift 3, which I need to have a Briding-Header.h file. The file imports the header:
#import "snowboy-detect.h"

However, Xcode is not able find relevant C++ standard library, such as memory and string. I got an error: "memory" file not found.

I have Googled and tried to set things such as compiler type, header search path, etc, but could not get it working. Any help is apprec

[2017-02-13 16:58] patrickjquinn commented on #121
@chenguoguo Sorry for the delay, I actually rolled back my changes so i'll have to re-implement them and get back to you (gimme an hour), I was however seeing something similar to @grimlockrocks set of issues.

[2017-02-13 17:09] patrickjquinn commented on #121
First issue `ld: '/<my_home>/<my_project>/libsnowboy-detect.a(snowboy-detect.o)' does not contain bitcode. You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updated library from the vendor, or disable bitcode for this target. for architecture armv7`

So i'll disable Bitcode and then see what the next bath of issues are.

[2017-02-13 17:15] patrickjquinn commented on #121
Upon doing so I see ```
Ld /Users/<my_home>/Library/Developer/Xcode/DerivedData/P-Brain-ftnorchkstrokjbzenygrweqttko/Build/Intermediates/P-Brain.build/Debug-iphoneos/P-Brain.build/Objects-normal/arm64/P-Brain normal arm64
    cd /Users/patrickquinn/P-Brain.ai-iOS
    export IPHONEOS_DEPLOYMENT_TARGET=10.2
    export PATH="/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Devel

[2017-02-14 02:02] chenguoguo commented on #121
Let's first try to fix those missing symbols. Those are from CBLAS, did you add the `Accelerate` framework when you compile?

See here:
https://developer.apple.com/reference/accelerate

The `Accelerate` framework contain those symbols.

In my old demo, I used the following frameworks: `CoreAudio`, `AudioToolbox`, `AudioUnit`, `CoreServices`. But I was using those through object-c, and I haven't re

[2017-02-14 04:55] grimlockrocks commented on #121
Aha, "You cannot import C++ code directly into Swift. Instead, create an Objective-C or C wrapper for C++ code." according to https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/index.html#//apple_ref/doc/uid/TP40014216-CH2-ID0

One workaround is to write a Objective-C wrapper for snowboy-detect.h. The bridging header only links Objective-C files, therefore

[2017-02-14 08:37] patrickjquinn commented on #121
@chenguoguo Yep adding accelerate seems to have solved the issue! No longer getting any build errors 👍

[2017-02-14 16:57] chenguoguo commented on #121
@patrickjquinn are you using swift or objective-c? @grimlockrocks is having some trouble with swift, and I don't have any experience with that. If you are using swift, could you let @grimlockrocks what is your setting?

[2017-02-14 16:59] patrickjquinn commented on #121
Sadly Obj-C only, havent attempted to build a bridge header yet.

In other news i'll be submitting a PR to you guys with a sample Obj-C application using Snowboy

[2017-02-14 17:00] chenguoguo commented on #121
Awesome!

[2017-02-14 23:12] grimlockrocks commented on #121
I got it working for Swift 3 as well - all I needed was Objective-C wrapper, then the Swift 3 code can call the Objective-C code to instantiate a new instance of SnowboyDetect.

[2017-02-15 01:15] grimlockrocks commented on #121
@patrickjquinn Let me know if the detection works well for your Obj-C code, I always get -2 for some reason... I chopped my recording to 3 seconds, with the following settings:
let recordSettings =
                [AVEncoderAudioQualityKey: AVAudioQuality.high.rawValue,
                 AVEncoderBitRateKey: 128000,
                 AVNumberOfChannelsKey: 1,
                 AVSampleRateKey: 16000.

[2017-02-15 01:22] glennglennglenn opened #123 "Error when switching audio rate"
After I detect a hotword and try to read additional audio from the microphone I get this error on a Mac:
||PaMacCore (AUHAL)|| Error on line 2490: err='-10863', msg=Audio Unit: cannot do in current context
||PaMacCore (AUHAL)|| Error on line 2490: err='-10863', msg=Audio Unit: cannot do in current context

Someone else has experienced this error but the answer was not written: https://github.com/K

[2017-02-15 02:50] chanffdavid commented on #108
Thanks for your reply. We try to run the sample on Debian OS in my Parallels VM in x86 architecture

[2017-02-15 03:09] glennglennglenn commented on #123
I figured it out. I had to set PyAudio's setting to be the same for both recorders.

[2017-02-15 03:11] chenguoguo commented on #121
Snowboy uses 16 bit signed-integer, so make sure your audio format is correct.

[2017-02-15 03:12] chenguoguo commented on #123
OK, closing this then.

[2017-02-15 03:12] #123 closed

[2017-02-15 03:13] chenguoguo commented on #108
If it's x86 architecture, you may be able to use the ubuntu library.

[2017-02-15 14:56] patrickjquinn commented on #121
The Obj-C demo isn't quite ready to go but if you check https://github.com/patrickjquinn/P-Brain.ai-iOS/blob/master/P-Brain/ViewController.mm in my P-Brain.ai iOS client, specifically the `initSnowboy` & `initMic` methods you'll see the right setup and audio format settings.

This demo (and my own project) makes use of EZMic direct input instead of piping to a file or any other method 👍

[2017-02-15 15:44] grimlockrocks commented on #121
Thank you. I will take a look. I think I am getting very close. I do not know C++/Obj-C that well, and I think the problem stays with how I pass the integer array to the API: int RunDetection(const int16_t* const data, const int array_length); via the Obj-C wrapper, somehow only the pointer to the first element in the array was passed in, therefore sizeof data is very small (only 8 bytes in my cas

[2017-02-15 18:36] grimlockrocks commented on #121
Here you go: https://github.com/grimlockrocks/kitt-snowboy-swift3-sample-app

[2017-02-15 18:48] chenguoguo commented on #121
Awesome! Could you like to submit a PR and put it under e.g., `examples/Swift`? Feel free if you'd prefer keeping it as an independent project.

[2017-02-16 07:49] duoduo999 commented on #19
If I manage to get 1000 recordings uploaded, will I just automatically get a downloadable universal model then? Btw, is there a way of batch uploading audio files for training universal model?

[2017-02-16 09:51] patrickjquinn commented on #121
I've submitted a PR with the iOS Obj-C demo, its rock solid but I can make any changes you see if 👍  https://github.com/Kitt-AI/snowboy/pull/125

[2017-02-16 17:31] xuchen commented on #19
If you manage to get 500 people to record and upload to our library through
the *web interface*, yes, we'll train a universal model for you. However,
we don't provide a batch uploading function for this.

On Wed, Feb 15, 2017 at 11:49 PM, duoduo999 <notifications@github.com>
wrote:

[2017-02-16 18:46] sakirtemel opened #126 "ubuntu 16.04.1 electron"
Hi,

I'm struggling with using snowboy and electron. In package json, I have electron(1.4.7), electron-rebuild(latest), and snowboy (1.1.0). After npm install I'm running this to rebuild the modules

`./node_modules/.bin/electron-rebuild --pre-gyp-fix`

And when I run electron, it's giving me this error

`/home/app/node_modules/electron/dist/electron js/electron.js dev: symbol lookup error: /home/

[2017-02-16 21:52] grimlockrocks commented on #121
I have submitted a pull request too, basically just copy/paste but let me know if you want me to make any changes.

[2017-02-16 21:52] #117 closed

[2017-02-16 22:08] chenguoguo commented on #121
Thanks you very much guys! I'll take a look and merge them this afternoon as I'm getting a little bit of free time from other stuff.

[2017-02-16 22:43] chenguoguo commented on #117
The node module has been re-published, so closing this. Sorry for the late response, was working on other stuff by hand.

[2017-02-17 07:24] evancohen commented on #126
Can confirm this issue! What's weird is that you can clone the snowboy repo, `npm install`, and run the example without a problem. The issue finding `cblas_sdot` only appears after rebuilding the module for electron.

I've seen this a number of times in the past and it's because, for some reason unknown to me, g++ decides not to bind things correctly.

I managed to link the libraries by adding `-W

[2017-02-17 08:12] sakirtemel commented on #126
@evancohen thanks, it worked! you need to add `-Wl,--no-as-needed` just before `-lcblas` as shown in the link.

[2017-02-17 08:12] #126 closed

[2017-02-17 11:14] evancohen commented on #126
Came up with a better solution (I think), if you are curious. Just drop this [.npmrc](https://github.com/evancohen/sonus-electron-boilerplate/blob/master/.npmrc) into the root of your project, delete your existing `node_modules` and run
[code]

That should preserve the `cblas_sdot` binding and will build all of the native modules for your project for Electron.

[2017-02-17 12:30] peternann commented on #121
Nice! My timing is impeccable. Just started looking to stand up an iOS demo, and lo and behold!, one has appeared here just a few hours ago.
Thanks guys!
I got the spanking new iOS/Obj-c example running trivially in XCode 8.2.1. Simulator successfully detects my "Alexa" hot word when spoken. Thanks again.

[2017-02-17 12:36] patrickjquinn commented on #121
Really glad to hear that @peternann ! It doesn't have any fancy bells and whistles but hopefully its enough to get everything off the ground without too much effort 👍  The real thanks should go to the Kitt.ai team for making such an awesome project open and offline!

[2017-02-17 15:17] ghivert opened #127 "Java binding not working"
Hi everyone,

I just tried to compile the project and run it through Java on macOS Sierra (almost fresh install), and I just got a ConvertStringToFloat error. I tried with other bindings, and no problem, C++ or Python are perfectly working. (common.res is not corrupted.)

Here's the result :

[code]

Any idea ? For any information, I'm using Java 1.8 and SWIG 3.0.12.
Thanks ! 😊

[2017-02-17 15:40] chenguoguo commented on #121
Great. I'll finishing merging both demos today.

[2017-02-17 22:46] chenguoguo commented on #127
I'm not on Sierra yet so I can't really test it.

According to this thread: https://groups.google.com/a/kitt.ai/forum/#!topic/snowboy-discussion/2tgenslIm6w

I guess it's probably a Java or SWIG version issue. I'll have to look into more details when I get a chance later. Other with Sierra please help if you can.

[2017-02-18 00:51] shinselrobots commented on #118
I am looking at hooking Snowboy to Houndify.  I'd like to use arecord pipe for this, so duoduo999, please do post your code!

[2017-02-18 01:02] chenguoguo commented on #118
@shinselrobots it's here: https://github.com/Kitt-AI/snowboy/pull/120

@xuchen is reviewing it and we will merge it soon.

[2017-02-18 01:47] evancohen commented on #118
@shinselrobots I'm looking to add Houndify to [sonus](https://github.com/evancohen/sonus) if you want to lend a hand, otherwise I'm going to be taking a stab at it next week.

[2017-02-18 16:14] xuchen commented on #127
I just compiled under Sierra and didn't have the problem. My java version:

[code]

swig version:
[code]

Both were installed with `brew`.

[2017-02-18 18:10] evancohen commented on #126
@chenguoguo I'd like to take a stab at having Travis build binaries for Electron. Is this something you'd be interested in?

[2017-02-18 19:42] chenguoguo commented on #126
@evancohen yeah feel free to submit a PR!

[2017-02-19 17:36] ghivert commented on #127
I tried, both on my machine and in a new configured VM (still macOS 10.12) with Java updated to 1.8.0_121, and I'm still getting the same error. I followed the instruction (i.e. `brew install swig portaudio sox`, and `brew cask install java`).

Did I miss something ?

[2017-02-20 13:56] brentnd commented on #122
FWIW, I attempted to created a swig conversion and example for snowboy-detect over the weekend but ran into a lot of issues with swig Golang support, specifically for std::unique_ptr.

[2017-02-20 19:09] xuchen commented on #127
Hmm, I don't know. This is what I did:

[code]

Also I'm on Sierra 10.12.2 (16C67), but I doubt that was the culprit.

[2017-02-20 19:09] xuchen commented on #122
@brentnd could you please post your code and errors?

[2017-02-20 23:09] brentnd commented on #122
https://github.com/brentnd/snowboy/tree/master/swig/Go: has the makefile and swig file. Right now, the makefile is building and the example actually builds fine but segfaults on the first call to any C++ code (`NewDetector`). Obviously the example isn't going to do anything, but didn't want to invest in that until I have the other issues addressed.

https://github.com/brentnd/snowboy/tree/swigcxx/

[2017-02-21 00:44] xuchen commented on #122
Could you please give detailed commands to run those files and re-produce the errors? I'm not familiar with Go and don't know where to start yet.

[2017-02-21 13:21] brentnd commented on #122
I just found https://github.com/lian/snowboy which appears to do what i was unable to do. I haven't had time to check it out but could be helpful moving forward.

[2017-02-21 13:31] josep112 opened #130 "Model umdl"
I searched but did not find how I can create imdl models
Thanks

[2017-02-21 14:43] r00kieone commented on #88
Good to read the issue has been re-opened, looking forward to use this on the pine64! :)

[2017-02-21 16:09] dustinblackman commented on #122
@brentnd Unfortunately it doesn't work, it seems to result in the same problems both you and I are having.

I had started working on this the day I posted the issue, but unfortunately have run in to the same problems that @brentnd had with not being able to build with the module after (on OSX at least). Don't mind the random stuff in the swig file, I was kind of attempting everything to see what b

[2017-02-21 17:01] chenguoguo commented on #88
I haven't got a chance to work on the Pine-A64 yet. Will keep this updated.

[2017-02-21 17:27] chenguoguo commented on #130
I guess you meant umdl models? You cannot do it by yourself. Currently there are two ways to get the umdl models:

1. On our website `snowboy.kitt.ai`, if a certain hotword has more contributed recordings then its threshold, we will train the universal hotword and give it back to the community, for non-commercial purpose.

2. We provide a service for training universal hotwords, for more details p

[2017-02-21 17:58] xuchen commented on #88
@tomster @r00kieone what's your OS? should we first compile for Debian or Ubuntu or Arch?

[2017-02-21 18:10] r00kieone commented on #88
I am using Debian Jessie for the pine64.

Distributor ID: Debian
Description:    Debian GNU/Linux 8.7 (jessie)
Release:        8.7
Codename:       jessie

3.10.104-2-pine64-longsleep #113 SMP PREEMPT Thu Dec 15 21:46:07 CET 2016 aarch64 GNU/Linux

[2017-02-21 18:43] josep112 commented on #130
Ok thanks

[2017-02-21 18:43] #130 closed

[2017-02-21 19:53] xuchen commented on #88
@r00kieone where did you download the image? I tried the following one from https://www.pine64.pro/downloads/#Debian-Linux :

![image](https://cloud.githubusercontent.com/assets/543547/23182104/3aed55ac-f82c-11e6-8972-cfa486c4b85c.png)

But the download link does't work.

[2017-02-21 20:00] xuchen commented on #88
never mind, got it from here: http://cdn.pine64.uk/Debian/

@Pine-A64 your website download link is invalid?

[2017-02-22 04:44] xuchen commented on #88
@tomster @r00kieone model just updated at:

https://github.com/Kitt-AI/snowboy/tree/pine64/lib/pine64

Could you please give it a try to make sure it works? After that I'll merge the PR.

[2017-02-22 05:38] cendev commented on #87
I can confirm that using arecord solves this issue.

[2017-02-22 20:44] brentnd commented on #122
From @dustinblackman and the lian example I was able to get something that seems to work. All it does at this point is return -2 (silence) every couple hundred milliseconds but no errors, so that's progress.

https://github.com/brentnd/snowboy

Another thing to consider, @dustinblackman mentioned his makefile does an "install" to copy some files to the top level of Kitt-AI/snowboy. With the makefi

[2017-02-23 07:37] peternann commented on #28
Isn't it just a matter of recompiling your library with the 'hard' option removed?

My understanding is that AOSP removed this 'hard' version of the library precisely because people were errantly using it for performance gain, when the gain was actually marginal (and mis-understood), but the hassle of incompatible libraries (as we are seeing here with Snowboy), was extreme at times.

Snowboy can't

[2017-02-23 07:40] peternann opened #133 "Android instructions only work on Unix"
I understand you can't do everything all at once...

But could the project README at least mention the fact that the Android instructions only work on Unix?
(Or maybe a fully-fledged Cygwin setup on Windows)

Just headed down this path only to find I am probably at a dead-end on Windows.

[2017-02-23 16:55] chenguoguo commented on #133
Correct. We don't have good support for Windows. Will add that to README.

[2017-02-23 17:22] xuchen commented on #122
@brentnd did you get detection to work? If you could submit a concrete example as a PR, we'd very much appreciate it!

[2017-02-23 17:31] josep112 opened #134 "VS Score"
I tried to create a template withhttps://snowboy.kitt.ai/api/v1/improve/  it because it has vs score but it gives error, someone already got it?

[2017-02-23 17:33] brentnd commented on #122
I hope to do some more work on this next week with a good example and working detection.

[2017-02-27 09:17] r00kieone commented on #88
Thank you for responding very quickly about this! I tried it as part of building Alexa echo for pine64 (using Rasberry Pi instructions), but I didn't get it working yet, but the main cause is that I am not very experienced building programs from sources | - ) Perhaps I should try building this separately, but I need to have another look at it.

[2017-02-27 18:48] Stan92 opened #135 "Fail to read Matrix"
Hi,
I've a strange error that happens sometimes and breaks my app.
I use Snowboy with Raspbian (Jessie) and Electron.js.

[code]

[2017-02-27 18:57] chenguoguo commented on #135
This is very wired. Does it only happens randomly? Is there any possibilities that the model files were corrupted?

[2017-02-27 19:09] Stan92 commented on #135
it happens randomly..
About the model files, I don't think they are corrupted cause sometimes they work (I'm using the same model files).
I m still investigating..

[2017-02-27 19:24] chenguoguo commented on #135
OK please keep us updated if you find anything suspicious.

[2017-02-27 20:00] xuchen commented on #88
@r00kieone yes please build this separately, it should be much much easier.

[2017-02-27 20:50] Stan92 commented on #135
Ok, you were right, there was a corrupted model file..
Thanks

[2017-02-27 20:50] #135 closed

[2017-02-27 21:46] #122 closed

[2017-02-28 05:39] peternann commented on #133
Thanks. I see the line you've added at the top.

Perhaps you could mention it specifically in the Android section? I suppose most Windows users will be jumping there, as they are not on *nix, and they are not on OSX, so that mostly leaves Android!

You could also mention there that it _might_ be possible to make the Android setup work with a sufficiently configured Cygwin (or maybe MinGW) setup -

[2017-02-28 05:39] #133 closed

[2017-02-28 05:59] xuchen commented on #133
@peternann advice taken, thanks for looking into that. I just modified README per your request. I didn't add the cygwin part as we didn't test it and don't want to misguide users.

[2017-02-28 06:12] xuchen commented on #134
what errors did you get?

[2017-02-28 06:14] #121 closed

[2017-02-28 06:17] #105 closed

[2017-02-28 06:17] #103 closed

[2017-02-28 06:17] #87 closed

[2017-02-28 06:18] #27 closed

[2017-02-28 06:19] #5 closed

[2017-03-01 11:57] josep112 commented on #134
python demo.py testetrain2.pmdl
ERROR (ReadToken():snowboy-io.cc:131) Fail to read token in ReadToken(), position -1
terminate called after throwing an instance of 'std::runtime_error'
  what():  ERROR (ReadToken():snowboy-io.cc:131) Fail to read token in ReadToken(), position -1

[stack trace: ]
/usr/src/snowboy/_snowboydetect.so(_ZN7snowboy13GetStackTraceEv+0x34) [0xb6874ad4]
/usr/src/snowboy/_s

[2017-03-01 17:12] chenguoguo commented on #134
Seems like `testetrain2.pmdl` has been corrupted. It might be helpful If you post the model somewhere so that we can take a closer look. It's possible that something went wrong when you generate the hotword through API (e.g., the authentication token was not set correctly), in that case, the error will be written to `testetrain2.pmdl` in text mode and you should be able to open it using text edito

[2017-03-01 17:49] josep112 commented on #134
Hi,
The template I use works fine at https://snowboy.kitt.ai/api/v1/train/ but it does not work at https://snowboy.kitt.ai/api/v1/improve/, I put the zipped template In the link:
http://54.94.130.25/Painel_1.0/model.zip

[2017-03-02 01:48] chenguoguo commented on #134
@josep112 model.zip contains the audio files, which looks fine to me. Could you share the `testetrain2.pmdl` file that caused the above error?

[2017-03-02 15:59] josep112 commented on #134
Hi Chenguoguo,

import sys
import base64
import requests

def get_wave(fname):
    with open(fname) as infile:
        return base64.b64encode(infile.read())

endpoint = "https://snowboy.kitt.ai/api/v1/improve/"

############# MODIFY THE FOLLOWING #############
token = "bce111c29213b6fdb4073a8eaa6d0eed089xxxxx"
hotword_name = "josep112"
language = "pt"
age_group = "40_49"
gender = "M"
microphone =

[2017-03-02 18:35] Stan92 opened #138 "Confidence indicator?"
Hi,

Is there a way to get a confidence percentage on detected hotword?
I think it could help.

[2017-03-02 18:56] evancohen commented on #138
It would help to know what you want to use it for. You can't get confidence (that I know of), but you can adjust the detector threshold (which accomplishes the same thing as getting the confidence and setting a threshold in your own code)

[2017-03-02 19:30] Stan92 commented on #138
Example, let's say if the recognition is less than 75%, this value means the detection is not "efficient/sure" and I can, for my need, ask the user to repeat again the hotword...
it could be also use to ignore the detected hotword under a certain percentage.
I don't know if it could be done using the threshold.
From my tests using snowboy, sometimes some hotwords are detected as other hotwords.
Pr

[2017-03-02 19:59] hdi200 commented on #12
@chenguoguo I'm sorry about this but I think I'm missing something. I did exactly what you said in your answer to @tbass134 but I'm still getting an error: "global name 'audio_callback' is not defined". Here is the beginning of my start function does this look right? Thank you so much in advanced!

        :param detected_callback: a function or list of functions. The number of

[2017-03-02 21:39] chenguoguo commented on #12
You can move the audio_callback function to the start function as well.

[2017-03-02 21:43] chenguoguo commented on #138
The threshold here is related to the confidence score: a confidence score above the threshold will be treaded as the detection.

We don't have the confidence score in the current API.

How many hotwords are you using at the same time? You could probably design the hotwords so that they sound different from each other.

[2017-03-02 21:47] chenguoguo commented on #134
@josep112 The improve API definition on our side is probably confusing... sorry about that. The improve API is not supposed to be used for model training. It only takes audio samples from users so in the future we can possibly train a universal model from those data. It will not improve your personal model.

[2017-03-02 22:04] Stan92 commented on #138
I'm using 10 hotwords. sometimes they are well detected sometimes not.
I'll play with the threshold value..
I thank you for your feedback.

[2017-03-02 22:04] #138 closed

[2017-03-03 02:23] brentnd commented on #122
For those interested in the Go bindings, I've been writing a wrapper around the swig Go bindings to provide a Go-style interface to snowboy.

You can find it here: https://github.com/brentnd/go-snowboy.

The swig stuff works for getting access to using the raw C++ interface but the calls to the swig-generated Go code are convoluted because the C++ code has overloaded functions and the data types f

[2017-03-03 02:42] chenguoguo commented on #122
@brentnd great!

[2017-03-04 04:07] InSertCod3 opened #140 "32 bit Ubuntu?"
Is there a version for 32 bit Ubuntu?

[2017-03-04 19:12] tmzqvd commented on #109
Sorry to bother you infernusdomoso. I assume you are using python. Is it possible to get code snippet for saving raw audio to file? I tried several solutions but all I get is quiet bang. Hot word detection is working, so it's not problem with mic.

One of my tries was (I know it's stupid to open file for writting each loop)... I'm editing snowboydecoder.py and this is loop snippet where I added sa

[2017-03-07 10:34] C-Volume opened #141 "Is it likely to do it on MIPS?"
Is there a version for mips board ?

[2017-03-07 11:30] josep112 commented on #134
Hello friend, would it be nice if you had this possibility because many words exchanged have a forecast of this new implementation?

[2017-03-07 16:21] dmc6297 commented on #1
I did this by customizing the snowboy_index.js. In the processDetectionResult function I set a "command" flag once the hotword is detected and emit all chunks until silence is detected. Another script builds a buffer from all the chunks and sends them to Microsoft LUIS for recognition.

So you can say "Alexa turn off the lights" all in one phrase without pausing.

    _write(chunk, encoding, callb

[2017-03-07 18:30] xuchen commented on #141
Snowboy depends on Atlas/OpenBlas but on MIPS OpenBlas has very poor support. We compiled a version before that had very high CPU usage. Thus we currently don't have a plan to support MIPS unless there's an efficient matrix multiplication library for MIPS.

[2017-03-07 20:58] evancohen commented on #1
@dmc6297 you might want to check out [Sonus](https://github.com/evancohen/sonus). There's an implementation on the [audio-buffer](https://github.com/evancohen/sonus/tree/audio-buffer) branch which uses a ringbuffer + stream transformation (basically what @chenguoguo described in this thread).

The only drawback with my ring buffer implementation is that it doesn't perform *super* well on low power

[2017-03-08 18:19] Stan92 commented on #1
Hi,

I'm looking for something like this too using nodejs but less sophisticated :-)

@evancohen, I've seen your project it seems it could probably satisfy my needs (except for MS Cognitive Services).

There are several steps that I can manage using 2 "audio buffers" (one for snowboy, one for Bing).
But I think I'm not on the good path.

This is the workflow I'd like to implement.
I have several h

[2017-03-09 08:31] sujitss commented on #12
@chenguoguo Sorry for asking but even after moving the aforesaid two lines and audio_callback function in start() function, I am getting an error as follow

`Traceback (most recent call last):
  File "okay.py", line 11, in <module>
    detector.start(detected_callback)
  File "/home/pi/rpi-arm-raspbian-8.0-1.1.0/snowboydecoder.py", line 144, in start
    tm = type(decoder_model)
UnboundLocalError:

[2017-03-09 10:48] r00kieone commented on #88
I've some dependency problems, e.g.:
 python3-pyaudio : Depends: python3 (< 3.5) but 3.5.1-4 is to be installed

perhaps there's another pine64-user who can try this? I am not that experienced, sorry | -)

[2017-03-09 16:44] xuchen commented on #88
@r00kieone if you are using Python 2.7 then you don't have to install `python3-pyaudio`. Give it a try?

[2017-03-09 17:26] chenguoguo commented on #12
@sujitss please post your code so that we can take a look.

[2017-03-09 19:55] nandinicbit1981 commented on #106
@chenguoguo can you please share android example

[2017-03-09 20:01] chenguoguo commented on #106
We will do in the next few days. We also made some changes to the Android interface.

[2017-03-09 20:03] nandinicbit1981 commented on #106
@chenguoguo the documentation on snowboy site is very sparse for integrating with android app.
Can you please provide a starting point? Is it possible to share some extra info.

I am testing to see if snowboy fits our requirement or not.

[2017-03-09 20:07] chenguoguo commented on #106
@nandinicbit1981 what is your time line? We need a few days to wrap things up and we will release the Android sample app as well. We are moving from hardfp to softfp, and we've also done other optimizations for Android on arm. If you can wait a few more days, that will make it much more easier for you.

[2017-03-09 20:10] nandinicbit1981 commented on #106
@chenguoguo I need to check whether snowboy work or not before monday so that we can move on to evaluate others. It would be great to get atleast some example code so that i can see if it works. I just need to verify the integration, so any code sample ( even if its not production ready) would be great.

[2017-03-09 20:14] chenguoguo commented on #106
Please send an email to guoguo@kitt.ai, let's talk offline.

[2017-03-10 05:59] sujitss commented on #12
@chenguoguo Here is my snowboydecoder.py

`#!/usr/bin/env python

import collections
import pyaudio
import snowboydetect
import time
import wave
import os
import logging

logging.basicConfig()
logger = logging.getLogger("snowboy")
logger.setLevel(logging.INFO)
TOP_DIR = os.path.dirname(os.path.abspath(__file__))

RESOURCE_FILE = os.path.join(TOP_DIR, "resources/common.res")
DETECT_DING = os.path.j

[2017-03-10 17:12] chenguoguo commented on #12
@sujitss you copied too much into your start() function, you can delete the following block from it I believe:

[code]

[2017-03-10 22:02] sepulker commented on #88
I've build it for nodejs running Armbian_5.26_S9xxx_Debian_jessie_3.14.29_server_20170302.img
on Amlogic S905X TVBOX. Nodejs Examples work!
The Build did not work out of the Box - I had to modify binding.gpy to match processor arch:

            ['OS=="linux" and target_arch=="arm64"', {
                'link_settings': {
                    'ldflags': [
                        '-Wl,--no-as-needed

[2017-03-10 22:11] chenguoguo commented on #88
@sepulker You are right, we didn't update that corner case! Would you like to submit a pull request for it?